button:focus {
outline: none !important;
box-shadow: none !important;
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
}

iframe {
outline: none;
border: none;
}

.card-body iframe {
width: 100%;
height: 500px;
}

.pad-x-30 {
padding-left: 30px !important;
padding-right: 30px !important;
}

.f-rubik {
font-family: "Rubik",sans-serif;
}

.down_arrow {
padding-left: 0;
}

.btn-primary {
background: #0098ff;
font-size: 18px;
padding: 10px 20px;
text-align: center;
}

.sec-1 ul.thumbs {
margin: 0;
height: auto;
}

.badge {
border-radius: 0;
font-size: 14px;
font-weight: 600;
padding: 5px 8px;
font-family: "Montserrat", sans-serif;
}

.badge-primary {
background: #0098ff;
}

.badge-outline {
border: 2px solid #dee6ec;
color: #858789;
padding-top: 4px;
padding-bottom: 4px;
}

.btm-badge .badge-outline {
color: #0098ff;
}

.share-hdr {
margin-top: -6px;
}

.price {
color: #343434;
font: 500 24px "Rubik",sans-serif !important;
}

#thumbs {
margin-top: 3px;
position: relative;
}

#thumbs .owl-item {
padding: 0 1.5px;
position: relative;
}

#thumbs .owl-nav {
height: 0;
margin-top: 0;
}

#thumbs .owl-nav button {
position: absolute;
top: 0;
left: 0;
margin: 0;
background: #05121f;
height: 100%;
border-radius: 0;
opacity: 0.8;
width: 36px;
transition: all .13s linear;
-moz-transition: all .13s linear;
-webkit-transition: all .13s linear;
} 

#thumbs .owl-nav button:hover {
opacity: 1;
}

#thumbs .owl-nav .owl-prev {
transform: scaleX(-1);
-moz-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
}

#thumbs .owl-nav .owl-next {
right: 0;
left: auto;
}

#thumbs .owl-item.current:after {
content: "";
position: absolute;
top: 0;
left: 0;
border: 4px solid #0098ff;
width: 100%;
height: 100%;
}

.show-title {	
margin-bottom: 40px;
}

.card.line {
margin-bottom: 15px;
}

.card-header.pos-1 {
padding: 0;
}

.card-header .btn-link {
width: 100%;
text-align: left;
color: #343434;
font: 600 18px "Montserrat";
text-decoration: none;
padding: 18px 28px;
line-height: 18px;
}

.card-header .btn-link span {
width: 90%;
display: inline-block;
white-space: normal;
word-break: break-word;
}

.card-header .btn-link i {
float: right;
transform: rotate(0);
-moz-transform: rotate(0);
-webkit-transform: rotate(0);
width: 9px;
transition: all .15s linear;
-moz-transition: all .15s linear;
-webkit-transition: all .15s linear;
}

.card-header .btn-link i img {
max-width: 100%;
}

.card-header .btn-link[aria-expanded="true"] i { 
transform: rotate(90deg);
-moz-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
}

.accordion .card-body {
box-shadow: 0 2px 2px #cecece;
-moz-box-shadow: 0 2px 2px #cecece;
-webkit-box-shadow: 0 2px 2px #cecece;
padding: 35px;
}

.btn-outline {
background-color: #fff;
border: 1px solid #0098ff;
color: #0098ff;
border-radius: 0;
font: 600 18px "Montserrat";
display: block;
width: 100%;
padding: 6px 20px;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
background: #fff !important;
border-color: #0098ff;
box-shadow: 0 0 5px #0098ff;
-moz-box-shadow: 0 0 5px #0098ff;
-webkit-box-shadow: 0 0 5px #0098ff;
color: #0098ff !important;
}

.internal-accordion.card-body {
padding-left: 28px;
padding-right: 28px;
padding-top: 0;
}

.internal-accordion .card-body {
padding: 8px 5px;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
border-top: 2px solid rgba(0, 0, 0, 0.12);
border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.internal-accordion .btn-link {
background: #fff;
border: none;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
float: none;
padding: 15px 0;
color: rgba(0, 0, 0, 0.62);
font: 500 16px "Rubik";
}	

.internal-accordion .card-header {
padding: 0;
background: transparent;
border: none;
}

.internal-accordion .dot-ul {
padding-left: 25px;
padding-right: 15px;
margin-top: 10px;	
}

.internal-accordion .dot-ul li {
color: rgba(0, 0, 0, 0.45);
font: 400 16px/23px "Rubik";
margin-bottom: 20px;
}

.internal-accordion .dot-ul li:last-child {
margin-bottom: 0;
}

.btn-group.lang {
margin-bottom: 20px;
}

.btn-group.lang .btn {
color: #B1B1B1;
border: 1px solid #E5E5E5;
background: #fff;
border-radius: 0;
padding: 3px 10px;
font: 600 15px "Montserrat";
}

.btn-group.lang .btn.active, .btn-group.lang .btn:hover {
color: #0098FF;
}

h3.head {
color: #343434;
font: 600 28px "Montserrat";
}

.see-all {
color: #0098ff;
font: 600 16px "Montserrat";
}

.see-all img {
width: 10px;
margin-top: -4px;
}

.see-all:hover {
color: #0098ff;
text-decoration: underline;
}

.article-wrap .card-title {
color: #343434;
font: 500 18px "Rubik";
}

.article-wrap .card-text {
color: #787878;
font: 400 14px "Rubik";
}

.article-wrap .card-text a:hover {
text-decoration: underline;
}

.blog-carousel .owl-item {
float: left;
}

.blog-carousel .owl-stage-outer {
position: relative;
overflow: hidden;
}

.blog-carousel .blog-img {
height: 180px;
width: 100%;
overflow: hidden;
margin-bottom: 15px;
}

.blog-carousel .blog-img img {
height: auto;
width: 100%;
}

.blog-carousel .blog-cont span {
color: #b5b5b5;
font: 400 14px "Rubik";
}

.blog-carousel .blog-cont .title {
color: #343434;
font: 500 16px "Rubik";
margin: 12px 0 5px 0;
}

.blog-carousel .blog-cont .badge  {
float: right;
background: #ccc;
color: #555;
font-weight: 500;
margin-bottom: 0;
}

.blog-carousel .blog-cont .badge-green {
background: #75AA46;
color: #fff;
}

.blog-carousel .blog-cont .badge-purple {
background: #5F4F8B;
color: #fff;
}

.blog-carousel .blog-cont .badge-blue {
background: #07B3F0;
color: #fff;
}

.smiliar-pick {
position: relative;
}

.smiliar-pick .custom-nav {
position: absolute;
top: calc(50% - 55px);
left: 0;
width: 100%;
}

.smiliar-pick .custom-nav button {
width: 35px;
height: 82px;
background: #F5F5F5;
padding: 0;
display: flex;
align-items: center;
justify-content: center;
border: none;
position: absolute;
left: 3px;
cursor: pointer;
}

.smiliar-pick .custom-nav button.disabled {
cursor: not-allowed;
}

.smiliar-pick .custom-nav button.owl-prev {
transform: scaleX(-1);
-moz-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
}

.smiliar-pick .custom-nav button.owl-next {
left: auto;
right: 3px;
}

footer h4 {
font-weight: 500;
}

.help-list {
width: 50%;
float: left;
}

.privacy-sec a:hover, .sistic-phone a:hover {
text-decoration: underline;
}

.show-mob {
display: none !important;
}

.breadcrumb a {
font-size: 13px;
font-family: "Rubik";
color: #b1b1b1;
}

.show-info .media-img {
flex: 0 0 66px;
border-radius: 4px;
overflow: hidden;
}

.ft {
font-family: "Rubik";
}

.ft-1 {
width: 100%;
height: auto;
}

.ticket-quantity {
background: url(../images/banner_aladdin.jpg) no-repeat 20% 0;
background-size: cover;
margin-top: 20px;
margin-bottom: 50px;
padding-top: 50px;
position: relative;
}

.ticket-quantity:before {
content: "";
background: -moz-linear-gradient(top,  rgba(255,255,255,0.92) 0%, rgba(255,255,255,0.97) 34%, rgba(255,255,255,1) 56%, rgba(255,255,255,1) 100%);
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.92) 0%,rgba(255,255,255,0.97) 34%,rgba(255,255,255,1) 56%,rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,0.92) 0%,rgba(255,255,255,0.97) 34%,rgba(255,255,255,1) 56%,rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebffffff', endColorstr='#ffffff',GradientType=0 );
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;	
}

.title-bdr {
font: 600 25px "Montserrat";
color: #343434;
position: relative;
padding-top: 12px;
}
.titlename {
    
    width: 259px;
    height: 23px;
    font-family: Rubik;
    font-size: 16px;
    color: #343434;
    text-decoration: none solid rgb(52, 52, 52);
    line-height: 17px;
}

.user-icon {
    width: 16px;
    height: 16px;
}
.user-name{
  width: 259px;
height: 23px;
font-family: Rubik;
font-size: 16px;
color: #343434;
text-decoration: none solid rgb(52, 52, 52);
line-height: 17px;
}
.name-title{
    width: 244px;
height: 24px;
font-family: Rubik;
font-size: 14px;
color: #343434;
text-decoration: none solid rgb(52, 52, 52);
}
.name{
    width: 391px;
height: 36px;
opacity: 0.7022646949404762;
fill: #ffffff;
stroke-width: 1;
}
.prefix{
    width: 391px;
    height: 36px;
    opacity: 0.7022646949404762;
    fill: #ffffff;
    stroke-width: 1;
}
.gender{
    width: 391px;
    height: 36px;
    opacity: 0.7022646949404762;
    fill: #ffffff;
    stroke-width: 1;
}
.size-title{
    width: 76px;
height: 16px;
font-family: Rubik;
font-size: 14px;
color: #343434;
text-decoration: none solid rgb(52, 52, 52);
}
.birthdate-title{
    width: 244px;
    height: 24px;
    font-family: Rubik;
    font-size: 14px;
    color: #343434;
    text-decoration: none solid rgb(52, 52, 52);
}
.birthdate{
    width: 108px;
height: 36px;
opacity: 0.7022646949404762;
fill: #ffffff;
stroke-width: 1;
}
.prefix-title{
    width: 39px;
    height: 16px;
    font-family: Rubik;
    font-size: 14px;
    color: #343434;
    text-decoration: none solid rgb(52, 52, 52);
}
.Gender{
    width: 391px;
    height: 36px;
    opacity: 0.7022646949404762;
    fill: #ffffff;
    stroke-width: 1;
}
.title-bdr:before {
content: "";
background: #0098ff;
width: 43px;
height: 3px;
position: absolute;
top: 0;
left: 0;
}

.ticket-list {
margin-top: 20px;
}

.tic-list-item {
position: relative;
margin-bottom: 25px;
}

.bar-img .img {
filter: drop-shadow(1px 2px 3px #dedede);
-moz-filter: drop-shadow(1px 2px 3px #dedede);
-webkit-filter: drop-shadow(1px 2px 3px #dedede);
width: 100%;
}

.bar-img .img-blue {
opacity: 0;
visibility: hidden;
position: absolute;
left: 0;
top: 0;
}

.bar-img.active .img-blue {
visibility: visible;
opacity: 1;
}

.ticket-bar {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
align-items: center;
}

.tic-left {
float: left;
width: 76%;
padding: 0 50px;
font-family: Rubik;
font-size: 16px;
color: #383838;
}	


.tic-right {
float: right;
width: 24%;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}

.tic-right .form-in {
font-family: Rubik;
font-size: 16px;
color: #383838;
font-weight: 600;
text-align: center;
width: 50px;
}

.tic-right.button-container button {
cursor: pointer;
border: 1px solid #424b5a;
border-radius: 3px;
padding: 0;
width: 19px;
height: 19px;
line-height: 0;
}


.tootltip-icon {
cursor: pointer;
position: relative;
top: -4px;
left: 3px;
}

.tooltip-inner, .tootltip-icon .cont {
padding: 10px;
background: #f0f9ff;
color: #343434;
font: 400 12px "Rubik";
}

.tootltip-icon .cont {
position: absolute;
z-index: 99;
left: 26px;
opacity: 0;
visibility: hidden;
transition: all .15s linear;
-moz-transition: all .15s linear;
-webkit-transition: all .15s linear;	
max-width: 260px;
top: -5px;
float: left;
white-space: nowrap;
}

.tootltip-icon:hover .cont {
left: 30px;
opacity: 1;
visibility: visible;
}

.tootltip-icon .cont:before {
content: "";
background: #f0f9ff;
position: absolute;
left: -5px;
width: 15px;
height: 15px;
transform: rotate(45deg);
z-index: -9;
top: calc(50% - 8px);
}

.tooltip.bs-tooltip-right .arrow:before {
border-right-color: transparent !important;
}

.btn-primary {
background: #0098ff;
border-radius: 0;
border: none;
font: 500 18px "Montserrat";
padding: 12px 26px;
}

.btn-primary.in-active {
color: #fff;
background: #bdbdbd;
pointer-events: none;
}

/* Countdown Style Starts */

.countdown-container {
width: 110px;
float: right;
position: relative;
}

.countdown-container .circle, .countdown-container .circle svg {
width: 100%;
float: left;
}

.controlls {
position: absolute;
left: 1px;
width: 100%;
top: 38px;
text-align: center;
}

.display-remain-time {
font-family: 'Montserrat';
font-weight: 500;
font-size: 25px;
color: #080b1a;
}

.e-c-base {
fill: none;
stroke: #b8b8b8;
stroke-width: 6px
}

.e-c-progress {
fill: none;
stroke: #07b3f0;
stroke-width: 6px;
transition: stroke-dashoffset 0.7s;
}

.e-c-pointer {
fill: #FFF;
stroke: #07b3f0;
stroke-width: 2px;
}

#e-pointer {
transition: transform 0.7s;
-moz-transition: transform 0.7s;
-webkit-transition: transform 0.7s;
}

/* Countdown Style Ends */
.float-wrap {
position: fixed;
top: 0;
left: 0;
z-index: 999;
width: 100%;
padding: 10px 15px;
background: #fff;
opacity: 0;
visibility: hidden;
transform: translateY(-20px);
-moz-transform: translateY(-20px);
-webkit-transform: translateY(-20px);
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
transition: all .15s ease-out;
-moz-transition: all .15s ease-out;
-webkit-transition: all .15s ease-out;
}

.float-wrap.sticky {
transform: translateY(0);
-moz-transform: translateY(0);
-webkit-transform: translateY(0);
opacity: 1;
visibility: visible;
}

.float-wrap .countdown-container {
width: 80px;
}

.float-wrap .display-remain-time {
font-size: 20px;
}

.float-wrap .controlls {
top: 25px;
}

.float-wrap .media-body p {
margin-bottom: 0;
}

.float-wrap .media  {
align-items: center;
}

.breadcrumb {
border-bottom: 1px solid rgba(0, 0, 0, 0.01);
border-radius: 0;
}

.show-info .ft-1 img {
height: 16px;
position: relative;
top: -2px;
}

/*Date Slide Style Starts*/

.date-slide {
padding-left: 25px;
padding-right: 25px;
}

.date-item {
background: #fff;
width: 100%;
border: 1px solid #b5b5b5;
border-radius: 7px;
padding: 15px;
text-align: center;
cursor: pointer;
position: relative;
overflow: hidden;
transition: all .13s linear;
-moz-transition: all .13s linear;
-webkit-transition: all .13s linear;
}

.date-item:after {
content: "";
background: #0098ff;
height: 4px;
width: 100%;
bottom: 0;
left: 0;
position: absolute;
opacity: 0;
visibility: hidden;
z-index: 99;
transition: all .13s linear;
-moz-transition: all .13s linear;
-webkit-transition: all .13s linear;
}

.date-item:hover, .date-item.active {
border-color: #0098ff;
}

.date-item:hover:after, .date-item.active:after {
opacity: 1;
visibility: visible;
}

.date-item span {
width: 100%;
display: block;
color: #343434;
font-family: Rubik;
font-size: 13px;
text-transform: uppercase;
}

.date-item .day {
color: #999;
}

.date-item .date {
font-size: 40px;
line-height: 43px;
}

.date-item .status {
color: #0098ff;
font-family: "Montserrat";
font-weight: 600;
margin: 13px 0 5px 0;
text-transform: capitalize;
}

.date-item .status:before {
content: "-";
opacity: 0;
visibility: hidden;
}

.date-item span.status.yellow {
color: #f2b119;
}

.date-item.in-active {
border-color: transparent;
filter: grayscale(1);
-moz-filter: grayscale(1);
-webkit-filter: grayscale(1);
pointer-events: none;
}

.date-item.in-active * {
opacity: 0.45;
}

.date-slide .owl-nav button {
position: absolute;
left: -8px;
top: calc(50% - 11px);
transition: all .13s linear;
-moz-transition: all .13s linear;
-webkit-transition: all .13s linear;

}

.date-slide .owl-nav button:hover {
filter: grayscale(1) brightness(0);
-moz-filter: grayscale(1) brightness(0);
-webkit-filter: grayscale(1) brightness(0);
}

.date-slide .owl-nav .owl-prev {
transform: scale(-1);
-moz-transform: scale(-1);
-webkit-transform: scale(-1);
}

.date-slide .owl-nav .owl-next {
left: auto;
right: -8px;
}

.date-slide .owl-nav .owl-prev.disabled,
.date-slide .owl-nav .owl-next.disabled {
opacity: 0;
visibility: hidden;
}

/*Date Slide Style Ends*/
.time-sec {
padding-left: 15px;
padding-right: 15px;
}

.time-sec .date-item {
width: calc(14.2% - 20px);
float: left;
margin: 7px 10px;
height: 80px;
display: flex;
align-items: center;
flex-flow: column;
justify-content: space-between;
}

.calendar-grid .date-item {
width: 134px;
margin: 0 20px 0 0;
}

.time-sec .date-item:last-child, .calendar-grid .date-item:last-child {
margin-right: 0;
}

.date-item .time {
font-size: 16px;
line-height: 20px;
}

.time-sec .date-item .status {
margin: 5px 0 3px 0;
line-height: 16px;
}

.btn-rounded {
font-size: 14px;
font-weight: 600;
border-radius: 50px;
padding: 6px 20px;
}

.btn-rounded.view-all img {
transform: rotate(90deg);
-moz-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
}

.btn-rounded.view-all.less img {
transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-webkit-transform: rotate(-90deg);
}

/* Calendar Grid Style Starts */

.calendar-grid {
padding-left: 25px;
padding-right: 25px;
}

.cal-hdr {
font: 500 18px "Montserrat";
text-transform: uppercase;
color: #343434;
text-align: center;
}

.day-wrap {
display: flex;
border-bottom: 1px solid #ebebeb;
margin-bottom: 10px;
padding-top: 7px;
}

.day-wrap p {
width: 14.2%;
color: #999999;
font: 400 13px "Rubik";
}

.date-row {
display: flex;
padding: 7px 0;
}

.date-row .date-item {
padding: 10px;
background: transparent;
}

.date-row .date {
font-size: 30px;
line-height: 30px;
}

.date-row .status {
margin: 5px 0 3px 0;
}

.round-btn {
display: flex;
align-items: center;
justify-content: center;
width: 42px;
height: 42px;
border-radius: 50%;
padding: 0;
}

h4 .round-btn {
float: right;
margin: -12px 22px 0 0;
}

/* Calendar Grid Style Ends */

#mobile-date-slide {
display: none;
}

.date-legend {
font: 600 12px "Montserrat";
color: #343434;
margin-left: 10px;
}

.date-legend > span {
margin-right: 15px;
}

.date-legend > span:before {
background: #ccc;
content: "";
width: 10px;
height: 10px;
border-radius: 50%;
display: inline-block;
margin-right: 5px;
position: relative;
top: 1px;
}

.date-legend > span.avail-state:before {
background: #07b3f0;
}

.date-legend > span.fast-state:before {
background: #f2b119;
}

.date-legend > span.insuff-state:before {
background: #b5b5b5;
}

.ticket-detail-sec .table {
margin-bottom: 5px;

}

.ticket-detail-sec, .check-out-sec h6, .booking-fee {
font-family: "Rubik", sans-serif;
}

.ticket-detail-sec table tr td {
padding: 0 32px 10px 0;
}

.ticket-detail-sec .table tbody {
width: 100%;
display: table;
}

.booking-fee h6 {
font-weight: 600;
}

.booking-fee p {
 padding-left: 10px;
}

.ticket-detail-sec .type, .ticket-detail-sec .lvl {
min-width: 100px;
}

.ticket-detail-sec .lane, .ticket-detail-sec .seat-no {
min-width: 80px;
}

.ticket-detail-sec .sec, .ticket-detail-sec .unit-pr {
min-width: 130px;
}

.ticket-detail-sec .total-amt {
    min-width: 170px;
    text-align: right;
    float: right;
    padding-right: 8px;
}

.ticket-detail-sec .trash-icon {
    position: relative;
    right:0px;
}

.tline{
    width: 100%;
    height: 1px;
    fill: #f0f0f0;
  
   
}
.tline_p{
    width: 100%;
    height: 1px;
    stroke-width: 1;
}
.check-out-sec h6 {
text-align: right;
padding: 0 47px 0 0;
}

.title-bdr small {
display: block;
font: 400 13px "Rubik";
color: #343434;
margin-top: 5px;	
}

.get-seat-btn {
font-weight: 600;
}

.seat-selection{
    margin-top: 30px;
    line-height: 34px;
}
.seat-selection h6 {
    font: 600 14px "Rubik";
    line-height: 18px;
}

.seat-selection h6:before {
bottom: -8px;
}

.seat-selection h6 span{ font-weight:400;}

.filter-encl {
display: flex;
padding: 0;
}

.filter-content-sec {
width: 65%;
display: flex;
align-items: center;
}

.filter-img-sec {
width: 100%;
}

.filter-content-sec p {
font-family: "Rubik";
}

.filter-encl:hover .filter-content-txt p:first-child {
color: #0098ff;	
}

.filter-category-txt p, .all-sec p {
font-family: "Rubik";
}

.seats.float-wrap {
padding: 15px 0 0 0;
}

.seats.float-wrap .ticket-detail-sec table tr td p,
.seats.float-wrap .ticket-detail-sec table tr td span {
float: left;
font-size: 12px;
}

.seats.float-wrap .ticket-detail-sec table tr td p {
margin-right: 5px;
}

.seats.float-wrap .ticket-detail-sec {
margin-top: 10px;
}

.seats.float-wrap .ticket-detail-sec table tr td {
    padding-bottom: 0px;
    padding-top: 5px;
    padding-left: 7px;
}

.seats.float-wrap .ticket-detail-sec .total-amt {
display: inline-flex;
justify-content: flex-end;
}

.seats.float-wrap .total-sec {
padding: 0;
}

.seats.float-wrap .check-out-sec h6 {
    padding-right: 8px;
}

.seats.float-wrap .ticket-detail-sec .trash-icon {
top: -5px;
right: -3px;
}

.seats.float-wrap .booking-fee {
padding-left: 15px;
}

.zoom-btn {
position: absolute;
right: 0;
bottom: 0;
}

.zoom-btn .btn {
display: block;
margin-top: 5px;
height: 31px;
width: 31px;
border-radius: 4px;
padding: 5px;
}

.zoom-btn .btn:hover {
background: rgb(9, 36, 56);
}

.zoom-btn .btn img {
max-width: 100%;
width: auto;
}

.mob-tic-info {
display: none;
}

/*Cart Sec Style Starts*/

.cart-sec .countdown-container {
width: 90px;
}

.cart-sec .controlls {
top: 29px;
}

.cart-sec .display-remain-time {
font-size: 23px;
}

.cart-sec .confirm_top_sec {
margin-bottom: 10px;
display: flex;
align-items: flex-end;
}

.cart-sec h2 {
margin-bottom: 15px;
font-size: 25px;
font-weight: 600;	
}

.cart-sec .trash-icon {
position: relative;
top: -2px;
cursor: pointer;
}

.cart-sec .confDetails_body .media-img {
    position: absolute;
    top: 42px;
    left: 50px;
    width: 66px;
    overflow: hidden;
    z-index: 99;
}

.confDetails_body {
position: relative;
}

.confDetails_sec.bdrB_dash .confDetail_tbl span {
color: #343434;
font-size: 13px;
}

.have-voucher .btn {
height: 33px;
}

.have-voucher .btn-outline {
font: 13px "Rubik";
width: auto;
}

.have-voucher .btn-outline:hover {
background: #0098ff !important;
color: #fff !important;
box-shadow: none !important;
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
}

.apply-voucher {
display: none;
}

.apply-voucher label {
color: #343434;
font-size: 13px;
min-width: 120px;
margin: 6px 0 0 0;
float: left;
}

.apply-voucher .form-group {
display: inline-block;
width: auto;
margin-bottom: 0;
padding-right: 30px;
position: relative;
margin-right: 40px;
}

.apply-voucher .form-control {
border: 1px solid #c8c8c8;
border-radius: 0;
color: #343434;
font-size: 13px;
height: 33px;
}

.apply-voucher .form-control:focus {
box-shadow: none !important;
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
}

.apply-voucher .add {
position: absolute;
right: 3px;
top: 2px;
opacity: 0.7;
}

.apply-voucher .add:hover {
opacity: 1;
}

.apply-voucher .btn-primary {
font: 13px "Rubik";
padding: 6px 20px;
}

/*Cart Sec Style Ends*/

/*Nav Pills Style Starts*/

.delivery-method .nav-pills {
margin-top: 30px;
}

.delivery-method .nav-pills .nav-item {
float: left;
width: calc(16.66% - 16.7px);
border: 1px solid #b5b5b5;
margin-right: 20px;
border-radius: 10px;
display: flex;
align-items: center;
padding: 30px 5px 15px 5px;
flex-flow: column;
position: relative;
overflow: hidden;
}

.delivery-method .nav-pills .nav-item:after {
position: absolute;
content: "";
background: #0098ff;
bottom: 0;
left: 0;
height: 6px;
width: 100%;
opacity: 0;
visibility: hidden;
}

.delivery-method .nav-pills .nav-item,
.delivery-method .nav-pills .nav-item img,
.delivery-method .nav-pills .nav-item .tag,
.delivery-method .nav-pills .nav-item:after {
transition: all .15s linear;
-moz-transition: all .15s linear;
-webkit-transition: all .15s linear;
}

.delivery-method .nav-pills .nav-item:last-child {
margin-right: 0;
}

.delivery-method .nav-pills .nav-item img {
opacity: 0.08;
}

.delivery-method .nav-pills .nav-item .tag {
font: 15px "Rubik";
color: #343434;
display: flex;
text-align: center;
height: 60px;
align-items: flex-end;
margin-bottom: 10px;
}

.delivery-method .nav-pills .nav-item .price {
font: 600 13px "Rubik" !important;
display: block;
text-align: center;
color: #0098ff;
}

.delivery-method .nav-pills .nav-item:hover,
.delivery-method .nav-pills .nav-item.active {
border-color: #0098ff;
}

.delivery-method .nav-pills .nav-item.active:after,
.delivery-method .nav-pills .nav-item:hover:after {
opacity: 1;
visibility: visible;
}

.delivery-method .nav-pills .nav-item:hover img,
.delivery-method .nav-pills .nav-item.active img {
opacity: 0.15;
}

.delivery-method .nav-pills .nav-item:hover .tag,
.delivery-method .nav-pills .nav-item.active .tag {
color: #0098ff;
}

.delivery-method .tab-content p, .delivery-accordion .card-body p {
color: #727272;
font: 14px/22px "Rubik";
}

.delivery-method .tab-content {
margin-top: 30px;
}

.delivery-method .tab-content .cont-bg, .delivery-accordion .card-body .cont-bg {
width: auto;
display: inline-block;
}

.delivery-method .tab-content .cont-bg > span,
.delivery-accordion .card-body .cont-bg > span {
background-color: #f0f9ff;
color: #727272;
font: 14px/22px "Rubik";
padding: 10px 20px;
display: block;
}

.delivery-method .tab-content .cont-bg a,
.delivery-accordion .card-body .cont-bg a {
float: right;
color: #0098ff;
font: 12px "Rubik";
margin-top: 5px;
}

/*Nav Pills Style Ends*/

.insured-sec {
margin-top: 70px;
margin-bottom: 50px;
}

p.lead {
font: 16px "Rubik";
color: #343434;
}

.insured-item li {
background: #f0f9ff;
font: 16px "Rubik";
color: #343434;
padding: 30px 35px;
}

.insured-item li img {
margin-right: 15px;
position: relative;
top: -2px;
}

.terms {
color: #a8a8a8;
font: 11px/17px "Rubik";
}

.label-primary {
color: #0098ff;
}

.cart-sec + .seats.float-wrap .ticket-detail-sec .trash-icon {
top: -2px;
}

.ticket-detail-sec .tfoot {
border-top: 1px solid #EDEDED;
}

.ticket-detail-sec .tfoot > td {
padding-top: 10px;
}

.cart-sec + .seats.float-wrap .ticket-detail-sec table tr td:last-child span {
font-weight: 400;
}

.cart-sec + .seats.float-wrap .check-out-sec h6 {
padding-right: 100px;	
}

.ticket-detail-sec {
position: relative;
}

a.expand-detail {
position: absolute;
left: 100%;
bottom: 14px;
width: auto;
white-space: nowrap;
font: 12px "Rubik";
color: #0098ff;
z-index: 999;
display: none;
}

a.expand-detail:hover {
color: #006db7;
}

/* Custom Checkbox Style Starts */
.custom-checkbox {
display: inline-block;
position: relative;
padding-left: 35px;
cursor: pointer;
font: 14px "Rubik";
color: #727272;
line-height: 25px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
font-weight: 400;
}

.radio.custom-checkbox {
font: 16px "Rubik";
color: #343434;
padding-left: 29px;
line-height: 22px;
}

.custom-checkbox input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}

.checkmark {
position: absolute;
top: 0;
left: 0;
height: 23px;
width: 23px;
background-color: #fff;
border: 1px solid #787878;
border-radius: 4px;
}

.radio  .checkmark {
height: 20px;
width: 20px;
border: 2px solid #919191;
}

.custom-checkbox:hover input ~ .checkmark {
background-color: #fff;
}

.custom-checkbox input:checked ~ .checkmark {
background-color: #0098ff;
border-color: #0098ff;
}

.checkmark:after {
content: "";
position: absolute;
opacity: 0.45;
}

.custom-checkbox input:checked ~ .checkmark:after {
border-color: #fff;
opacity: 1;
}

.custom-checkbox .checkmark:after {
left: 7px;
top: 2px;
width: 6px;
height: 12px;
border: solid #fff;
border-width: 0 2px 2px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}
.custom-checkbox input:disabled ~ .checkmark:after {
border-color: #c7c7c7;
opacity: 0.6;
}
.custom-checkbox input:disabled ~ .checkmark {
opacity: 0.6;
border-color: #c7c7c7;
background: #fff;
}
/* Custom Checkbox Style Ends */

/* Custom Radio Style Starts */
.custom-checkbox.radio .checkmark {
border-radius: 50%;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
}

.custom-checkbox.radio .checkmark:after {
left: 8px;
top: 4px;
width: 4px;
height: 9px;
}

.custom-checkbox.radio .checkmark:after {
left: 4px;
top: 4px;
width: 8px;
height: 8px;
border: none;
background: #fff;
border-radius: 50%;
}

.custom-checkbox.radio input:disabled ~ .checkmark:after {
background: #989898;
opacity: 0.6;
}

.custom-checkbox input:checked ~ .checkmark:after {
background: #0098ff;
}

.custom-checkbox.radio input:checked ~ .checkmark {
background: #fff;
border-color: #919191;
}

/* Custom Radio Style Ends */

.bg-transparent {
background: transparent !important; 
}

/* Accordion Style Starts */

.delivery-accordion .card {
border: none;
margin-bottom: 15px;
}

.delivery-accordion .card-header {
background: transparent;
border: none;
padding: 0;
}

.delivery-accordion .card-header a {
display: flex;
border: 1px solid #0098ff;
border-radius: 7px;
padding: 15px;
align-items: center;
justify-content: space-between;
position: relative;
overflow: hidden;
box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
-webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
}

.delivery-accordion .card-header a:before {
content: "";
position: absolute;
bottom: 0;
left: 0;
background: #0098ff;
width: 100%;
height: 3px;
opacity: 1;
visibility: visible;
}

.delivery-accordion .card-header a.collapsed:before {
opacity: 0;
visibility: hidden;
}

.delivery-accordion .card-header a.collapsed {
border-color: #b5b5b5;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
}

.delivery-accordion .card-header .nav-left {
width: 75%;
display: flex;
align-items: center;
}

.delivery-accordion .card-header a img {
opacity: 0.15;
margin: 0 6px;
height: 33px;
}

.delivery-accordion .card-header a.collapsed img {
opacity: 0.08;
}

.delivery-accordion .card-header a .tag {
font: 16px "Rubik";
color: #0098ff;
width: 53%;
}

.delivery-accordion .card-header a.collapsed .tag {
color: #343434;
}

.delivery-accordion .card-header a .price {
width: 25%;
font: 600 13px "Montserrat" !important;
color: #0098ff;
text-align: right;
}

.radio-check {
width: 20px;
height: 20px;
border: 2px solid #d1d1d1;
border-radius: 50%;
display: inline-block;
position: relative;
}

.radio-check:before {
content: "";
position: absolute;
background: #0098ff;
width: 8px;
height: 8px;
border-radius: 50%;
top: 4px;
left: 4px;
opacity: 1;
visibility: visible;
}

.delivery-accordion .card-header a.collapsed .radio-check:before {
opacity: 0;
visibility: hidden;
}

.delivery-accordion .card-body {
padding: 15px;
}

/* Accordion Style Ends */

.proceed {
display: none;
}

.payment-method .nav-pills .nav-item {
width: 100%;
flex-flow: row;
padding: 20px;
justify-content: center;
border-radius: 6px;
height: 89px;
cursor: pointer;
}

.payment-method .nav-pills .nav-item .credit-card-icon {
filter: grayscale(1);
-moz-filter: grayscale(1);
-webkit-filter: grayscale(1);
opacity: 0.9 !important;
}

.payment-method .nav-pills .nav-item.active .credit-card-icon {
filter: grayscale(0);
-moz-filter: grayscale(0);
-webkit-filter: grayscale(0);
}

.payment-method .nav-pills .nav-item:after {
height: 4px;
}

.payment-method .nav-pills .nav-item img {
opacity: 1;
}

.payment-method .nav-pills .nav-item:hover img,
.payment-method .nav-pills .nav-item.active img {
opacity: 1;
}

.payment-method .nav-pills .nav-item .tag {
height: auto;
display: inline-block;
margin: 0 0 0 10px;
}

.card-form .form-group {
margin-bottom: 25px;
position: relative;
}

.card-form label {
font: 16px "Rubik";
color: #343434;
}

.card-form .form-control {
border: 1px solid #c8c8c8;
border-radius: 0;
height: 40px !important;
font: 14px "Rubik";
transition: all .13s linear;
-moz-transition: all .13s linear;
-webkit-transition: all .13s linear;
}

.card-form .form-control:hover {
border-color: #0098ff;
}

.card-form .form-control:focus {
outline: none;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
}

.card-form .tootltip-icon {
top: -5px;
}

.card-form img.input-icon {
position: absolute;
bottom: 6px;
right: 20px;
}

.card-form img.input-icon.cvv {
bottom: 10px;
right: 12px;
}

.accept-card {
float: left;
width: 100%;
margin-bottom: 50px;
}

.accept-card li {
background: #fff;
box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
display: inline-flex;
height: 40px;
align-items: center;
justify-content: center;
width: 65px;
float: left;
padding: 10px;
}

.accept-card li img {
max-height: 22px;
}

.rgt-side {
padding-left: 15px;
}

.rgt-side p {
font: 16px "Rubik";
margin-bottom: 0.5rem;
}

.accept-card li.list-inline-item:not(:last-child) {
margin-right: 15px;
}

.rgt-side p.small-cont {
color: #a8a8a8;
font: 11px "Rubik";
float: left;
width: 100%;
line-height: 16px;
}
.btn btn-primary {
    width: 196px;
    height: 20px;
    font-family: Montserrat;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none solid rgb(255, 255, 255);
    line-height: 20px;
}

.rgt-side p.small-cont img {
position: relative;
top: -2px;
margin-right: 5px;
}

.rgt-side p.small-cont.pl {
padding-left: 20px;
}

.condition-wrap {
background: #f0f9ff;
padding-top: 60px;
padding-bottom: 60px;
}

.condition-wrap p {
padding-left: 30px;
color: #727272;
font: 14px/23px "Rubik";
}

#time-up .modal-body {
padding: 20px 50px 50px 50px;
}

#time-up h4 {
color: #07b3f0;
font: 25px "Rubik";
}

#time-up p {
font-size: 14px;
margin-top: 5px;
}

#time-up .timer-encl {
margin-bottom: 40px;
margin-top: 40px;
}

#time-up .btn {
display: block;
width: 100%;
color: #fff;
font: 18px "Montserrat";
padding: 12px 26px;
border-radius: 0;
}

#time-up .btn-gray {
background: #c9c9c9;
}

#time-up .btn-gray:hover {
background: #a9a9a9; 
}

#time-up .modal-header .close {
font-size: 36px;
}

.payment-method .radio-check {
display: none;
}

.confirm_title h2 img {
margin-top: -5px;
}

.confirm_top_sec {
margin-bottom: 35px;
}

.breadcrumb.last {
background: #fff;
border-bottom: 1px solid rgba(0, 0, 0, 0.05);  
}

.breadcrumb.last a:last-child {
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
}

.bookRefBox {
font-family: "Rubik";
}

.bookRefBox h6 {
margin-top: 3px;
}

.ticket_collec_wrap {
margin-top: 20px;
}

.title_small, .etick_details span, .ticket_collec span {
font-family: "Rubik";
}

.title_small span {
color: #9e9e9e;
font-size: 12px;
}

.romen_list {
list-style-position: inside;
}

.barcode {
width: 100%;
}

.confirm_title h2 {
font-size: 25px;
}

.mbl-ccard {
display: none;
}

.view-detail .btn {
    background: #0c101e;
    color: #fff;
    font-family: "Rubik";
    font-size: 13px;
    width: 100%;
    border-radius: 0;
}

.view-detail .btn.arrow span {
    display: none;
}

.view-detail .btn.arrow img {
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.upSellBtn {
    text-align: center;
}

.upSellDropDown, .upSellBtn {
    height: 32px;
    margin: 2px 0;
}

.cart-sec + .seats.float-wrap .ticket-detail-sec table .upSellBtnTxt {
    float: none;
    margin: 0;
}

.float-wrap .ticket-detail-sec td b {
    white-space: nowrap;
}

.cart-sec .confDetails_sec .confDetails_title span {
color: #626262;
}

.cart-sec .confDetails_sec .confDetails_title span img {
margin-right: 3px;
}

/* .total-sec.mob.hide + .view-detail.d-block.d-sm-none.d-md-block {
display: none !important;
} */

.ticket-detail-sec table tr td span {
font-size: 13px;
}

.mbl_invoice .ticket_devide {
display: none;
}

.shopRegRow .form-group label, .shopRegRow .form-group .form-control {
font: normal 14px "Rubik";
color: #626262;
}

.modal-title {
height: auto;
}

.reservdForFrndTxt .tline {
margin-top: 10px;
margin-bottom: 10px;
}

.reservdForFrndTxt {
padding-bottom: 10px !important;
}

.bookRefBox .clm {
word-wrap: break-word;
}

.confirm_page .ticket_devide {
display: none;
}

.etick_info4 {
padding-left: 10px;
}

.ticket_devide .right_circle,
.ticket_devide .left_circle {
display: none;
}

.card-form .form-control option{ font-family: 'Arial';}

/* Responsive Style Starts */
@media only screen and (max-width: 1280px) {

.show-title {
margin-bottom: 20px;
}

.blog-carousel .blog-img {
height: 150px;
}

.help-list, .account-list {
width: 42%;
}

}

@media only screen and (max-width: 1199px) { 

.label-sec {
margin-top: 10px !important;
}

.show-title {
font-size: 20px;
margin: 15px 0 !important;
}

footer ul li a  {
font-size: 14px;
}

.footer-bottom p, .privacy-sec, .date-item .status {
font-size: 12px;
}

.show-info.seats .countdown-container .circle {
display: none;
}

.show-info.seats .controlls {
position: static;
}

.show-info.seats .display-remain-time {
color: #0098ff;
text-align: right;
}

.accept-card li.list-inline-item:not(:last-child) {
margin-right: 5px; 
}

.cart-sec .confDetail_tbl p {
font-size: 13px;
}

.cart-sec .confDetail_tbl b {
white-space: nowrap;
font-size: 14px;
}

.etick_details {
display: flex;
}

.etick_details > div {
height: auto;
}

.etick_details p {
font-size: 13px;
line-height: 15px;
}

}

@media only screen and (max-width: 991px) {

.card-body iframe {
height: 240px;
}

.res-mtt0 {
margin-top: 0;
}

.header nav li a, .ticket-with-us a {
font-size: 14px;
}

.card-header .btn-link {
font-size: 16px;
padding: 12px 20px;
}

.accordion .card-body {
padding: 20px;
}

.internal-accordion .card-body {
padding: 8px 0;
}

.internal-accordion.card-body {
padding-top: 0;
padding-left: 15px;
padding-right: 15px;
}

.internal-accordion .btn-link {
padding-left: 0;
padding-right: 0;
}

.help-list, .account-list {
width: 50%;
}

.sistic-phone {
margin-top: 0;
}

.tic-left {
padding-left: 30px;
padding-right: 30px;
}

.desk-view {
display: block;
}

.date-row .date {
font-size: 25px;
line-height: 25px;
}

.date-row .status {
line-height: 13px;
}

.calendar-grid .date-item {
width: 73px;
padding: 7px;
}

.time-sec .date-item {
width: calc(20% - 20px);
}

.booking-fee {
padding-left: 15px;
}

.show-info.seats {
overflow-x: hidden;
}

.show-info.seats .ticket-detail-sec {
width: 100%;
}

.show-info.seats.float-wrap .ticket-detail-sec {
width: 100%;
}

.show-info.seats .ticket-detail-sec .total-amt {
justify-content: flex-start; 
text-align: left;
}

.get-seat-btn {	
font-size: 14px;
}

.filter-content-sec {
padding-left: 15px;
}

.confDetails_sec {
padding-left: 25px;
}

.cart-sec .confDetails_body .media-img {
display: none;	
}

.cart-sec .confDetails_footer {
padding-left: 20px;
}

.cart-sec + .show-info.seats.float-wrap .ticket-detail-sec {
width: 700px;
overflow-x: scroll;
}

.cart-sec + .seats.float-wrap .ticket-detail-sec table tr td {
white-space: nowrap;
}

.cart-sec + .seats.float-wrap .check-out-sec h6 {
padding-right: 0;
}

.delivery-method .nav-pills .nav-item .tag {
height: 50px;
}

.delivery-method .nav-pills .nav-item .tag,
.delivery-method .nav-pills .nav-item .price {
font-size: 12px;
}

.delivery-method .nav-pills .nav-item img {
width: 30px;
margin-bottom: 10px;
}

.delivery-method .nav-pills .nav-item {
width: 16%;
padding-top: 20px;
margin-right: 5px;
}

.proceed {
display: none;
}

.payment-method .nav-pills .nav-item img {
width: auto;
max-width: 100%;
}

.payment-method .nav-pills .nav-item img.credit-card-icon {
width: 45px;
}

.payment-method .nav-pills .nav-item .tag {
height: auto;
}

.accept-card li {
margin-bottom: 5px;
}

.accept-card {
margin-bottom: 20px;
}

.rgt-side p.small-cont.pl {
padding-left: 0;
}

.payment-method .nav-pills .nav-item {
padding-left: 10px;
padding-right: 10px;
}

.tidTime {
padding-top: 30px;
padding-left: 12px;
}

.etik_list {
padding: 20px 0 20px 10px;
}

.bookRefBox .clm:first-child {
padding-left: 3%;
}

.bookRefBox .clm2 {
padding-right: 15px;
}

.ticket_collec_wrap {
padding: 25px;
}

.insured-item li {
margin-bottom: 8px;
}

}


@media only screen and (max-width: 767px) {

#mobile-header .navbar-toggler {
padding-left: 0;
padding-right: 0;
}

#mobile-header .navbar-toggler-icon {
background: transparent;
display: flex;
align-items: center;
justify-content: center;
flex-flow: column;
}

#mobile-header .navbar-toggler-icon span {
background: #fff;
width: 30px;
display: block;
height: 2px;
border-radius: 5px;
margin-bottom: 7px;
}

#mobile-header .navbar-toggler-icon span:last-child {
margin-bottom: 0;
}

#mobile-header .navbar {
display: flex;
padding-top: 0;
position: static;
}

.logo-sec {
padding-top: 4px; 
}

.search-sec {
width: auto;
padding-top: 0;
position: static;
}

#mobile-header .search_icon {
width: 22px;
}

#mobile-header .ticket-main {
padding-top: 7px;
position: static;
}

.search-sec input {
bottom: auto;
top: 11px;
left: 5px;
width: calc(100% - 10px);
transition: all .13s linear;
-moz-transition: all .13s linear;
-webkit-transition: all .13s linear;
}

.search-sec input[style*="display: inline-block;"] + .search_icon {
opacity: 1;
position: fixed;
right: 17px;
top: 19px;
width: 18px !important;
}

.search-sec .form-control:focus {
background: #272f38;
color: #fff;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
}

#mobile-header {
padding-top: 9px;
padding-bottom: 11px; 
}

#custom-mobile-nav .nav-link {
color: rgba(255, 255, 255, 0.7)
}

#custom-mobile-nav .down_arrow {
margin-left: -5px;
}

#custom-mobile-nav {
width: 100vw;
position: absolute;
z-index: 99;
top: 50px;
left: 0;
padding: 8px 20px;
background: #202431;
}

#thumbs .owl-nav button {
width: 25px;
}

#thumbs .owl-nav button img {
width: 9px;
}

.mob-px-0 {
padding-left: 0 !important;
padding-right: 0 !important;
}
    
.badge {
padding: 3px 5px;
}

.badge-outline {
padding-top: 2px;
padding-bottom: 2px;
}

.label-sec {
margin-top: 2px !important;
}

.f-rubik a {
color: #0098ff
}

.sec-2 {
margin-top: 5px !important;
}

.card.line {
margin-bottom: 5px;
}

.internal-accordion .card-body {
border-bottom-width: 1px;
}

.button-sec hr {
margin: 30px 0 7px 0;
}

.button-sec .btm-badge .badge:first-child {
margin-left: 0 !important;
}

.button-sec .container-fluid {
margin-bottom: 25px !important;
}

.badge {
font-size: 13px;
}

.article-wrap .container-fluid, .smiliar-pick .container-fluid {
padding: 0 15px;
}

.article-wrap .container-fluid .row:first-child {
padding-top: 20px !important;
margin-bottom: 5px;
}

.smiliar-pick .container-fluid .row:first-child {
margin-top: 20px !important;
margin-bottom: 7px !important;
}

h3.head {
font: 600 22px "Montserrat";
}

.see-all {
font-size: 14px;
}

.see-all img {
width: 7px;
}

.mob-slide {
display: inline-flex;
flex-flow: row;
overflow-x: scroll;
}

.mob-slide .slide-item {
flex: 0 0 88%;
padding-left: 8px;
padding-right: 8px;
}

.mob-slide .slide-item:first-child {
margin-left: 7px;
}

.article-wrap .card-title {
font-size: 16px;
}

.article-wrap .card-body {
padding: 10px 0;
}

.blog-carousel .owl-item {
margin-left: 15px;
margin-right: 0 !important;
}

footer h4 {	
margin-bottom: 5px;
}

footer .list-inline {
line-height: 1.6rem;
}

footer .list-inline li {
width: calc(50% - 2px);
display: inline-block;
}

.help-list .list-inline li,
.account-list .list-inline li {
width: 100%;
}

.help-list, .account-list {
margin-bottom: 10px;
}

.mobile-app a {
display: inline-block;
width: calc(50% - 2px);
}

.play-img {
margin-top: 0;
}

.mobile-app {
margin-bottom: 25px;
}

.follow-us .list-inline li {
display: inline;
}

.stix-sec {
width: 140px;
float: left;
margin-left: 15px;
}

.privacy-sec {
width: calc(100% - 175px);
float: right;
margin-right: 15px;
padding-bottom: 15px;
}

.hide-mob {
display: none!important;
}

.show-mob {
display: block !important;
}

.desk-view {
display: none;
}

.breadcrumb.mob-view img {
filter: grayscale(1);
-moz-filter: grayscale(1);
-webkit-filter: grayscale(1);
opacity: 0.8;
}

.breadcrumb.mob-view .active.state img {
filter: grayscale(0);
-moz-filter: grayscale(0);
-webkit-filter: grayscale(0);
opacity: 1;
}

.ft-1 {
font-size: 12px;
line-height: 16px;
}

.ticket-quantity {
margin-top: 10px;
}

.tic-left {
width: 63%;
padding-left: 20px;
padding-right: 20px;
}

.tic-right {
width: 37%;
}

.tic-right .form-in {
width: 40px;
}

.mob-fix-btm {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
z-index: 99;
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 15px;
padding-bottom: 15px; 
}

#mobile-date-slide {
padding: 25px 0;
}

#mobile-date-slide .date-item {
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 10px;
}

#mobile-date-slide .date-item .date {
float: left;
width: 60%;
}

#mobile-date-slide .date-item .date span {
font-size: 38px;
color: #343434;
float: left;
width: auto;
display: flex;
align-items: center;
}

#mobile-date-slide .date-item .date span small {
font-size: 13px;
font-weight: 600;
margin-left: 5px;
}

#mobile-date-slide .date-item .date span:last-child {
color: #9e9e9e;
font-size: 13px;
margin-left: 3px;
}

#mobile-date-slide .date-item .status {
float: right;
width: 30%;
font-size: 13px;
margin: 0;
text-align: right;
}

#mobile-date-slide .owl-nav .owl-prev {
top: -8px;
left: calc(50% - 6px);
transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-webkit-transform: rotate(-90deg);
}

#mobile-date-slide .owl-nav .owl-next {
bottom: -8px;
top: auto;
left: calc(50% - 6px);
transform: rotate(90deg);
-moz-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
}

.date-slide .owl-nav .owl-prev.disabled, .date-slide .owl-nav .owl-next.disabled {
visibility: visible;
opacity: 1;
}

h4 .round-btn {
margin-right: 0;
}

.time-sec, .calendar-grid {
padding: 0;	
}

.time-sec > .d-flex {
display: inline-block !important;
}

.time-sec .date-item {
width: calc(50% - 10px);
padding: 10px 7px;
float: left;
margin: 5px 5px;
}

.time-sec .date-item .status {
margin-bottom: 0;
}

.date-row .date {
line-height: 20px;
font-size: 20px;
}

.calendar-grid .date-item {
margin-right: 5px;
}

.calendar-grid .date-row .status {
width: 5px;
height: 5px;
border-radius: 50%;
background: #07b3f0;
overflow: hidden;
text-indent: -999px;
margin: 5px auto 0;
}

.calendar-grid .date-row .status.yellow { 
background: #f2b119;
}

.calendar-grid .date-item {
width: 14.2%;
padding: 9px 7px 7px 7px;
}

#mobile-date-slide {
display: block;
}

#dektop-date-slide {
display: none;
}

.time-sec .date-item {
height: auto;
}

.ticket-quantity.mt-0 {
padding-top: 25px;
}

.right-seat-map {
max-width: 100%;
flex: 0 0 100%;
}

.right-seat-map img {
max-width: 100%;
width: 80%;
}

.seat-map h4 {
margin-left: 15px;
}

.zoom-btn {
right: 10px;
}

.show-info.seats .countdown-container {
float: left;
width: 100%;
}

.show-info.seats .media-img {
flex: 0 0 50px;
margin-right: 15px !important;
}

.show-info.seats .display-remain-time {
text-align: center;
font-size: 20px;
}

.show-info.seats .row{ display: inline-block; width:100%; margin: 0px;}
.show-info.seats .container{ padding: 0px;}
.show-info.seats .media + div{ float: right; margin-bottom: 5px; margin-top: -18px; width: auto; }

.title-bdr {
font-size: 24px;
}


.show-info.seats .total-sec {
display: block;
padding-top: 4px;
padding-bottom: 4px;
}

.show-info.seats .total-sec .check-out-btn {
position: fixed;
bottom: 0;
left: 0;
z-index: 999;
width: 100%;
display: flex;
text-align: left;
justify-content: space-between;
align-items: center;
}

.show-info.seats .total-sec .check-out-btn:after {
content: "";
background: url(../images/btn-right-arrow.svg) 0 0 no-repeat;
float: right;
width: 20px;
background-size: contain;
height: 20px;
}

.show-info.seats .total-sec .check-out-sec h6 {
line-height: 20px;
padding-right: 0;
}	

.mob-tic-info {
width: 100%;
padding-left: 80px;
margin: -35px 0 0 0;
}

.mob-tic-info .title {
font: 600 15px "Rubik";
color: #343434;
margin-bottom: 6px;
}

.mob-tic-info .tic-cont {
font: 400 12px "Rubik";
color: #343434;
}

.mob-tic-info .tic-cont .row {
margin-bottom: 3px;
}

.mob-tic-info .tic-cont .row span:first-child {
color: #9e9e9e;
}

.mob-tic-info .trash-icon {
position: absolute;
bottom: 2px;
right: 0;
}

.filter-mobile {
margin-top: -16px;
}

.confDetails_title_img img {
border-radius: 3px;
}

.confDetails_sec {
padding-left: 15px;
}

.confDetail_mbl .mob-tic-info {
display: block;
padding: 15px 0 0 0;
margin-top: 0;
}

.mbl_invoice .holder {
padding-top: 18px;
padding-bottom: 18px;
}

.confDetail_mbl .mob-tic-info .trash-icon {
top: unset;
}

.cart-sec h2, .cart-sec .display-remain-time {
font-size: 22px;
margin-bottom: 6px;
}

.cart-sec .countdown-container .circle {
display: none;
}

.cart-sec .controlls {
position: relative;
top: 0;
}

.cart-sec .display-remain-time {
color: #d41d13;
text-align: right;
}

.have-voucher .btn-outline {
width: 100%;
}

.apply-voucher label {
margin-top: 0;
}

.apply-voucher .form-group {
margin-right: 0;
margin-top: 5px;
width: 100%;
}

.apply-voucher .btn-primary {
margin-top: 10px;
}

.insured-item {
margin-top: 25px;
} 

.insured-item .list-inline-item {
margin: 5px 0;
width: 100%;
text-align: center;
padding-left: 20px;
padding-right: 20px;
font-size: 15px;
}

.proceed-lg {
display: none;
}

.proceed {
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}

.cart-sec + .show-info.seats.float-wrap .mob-tic-info {
padding: 0 20px;
margin-top: 0;
}

.cart-sec + .show-info.seats.float-wrap .mob-tic-info hr {
margin: 10px 0;
}

.show-info.seats.float-wrap .total-sec {
display: none;
}

.mob-px-0 {
padding-left: 0 !important;
padding-right: 0 !important;
}

.payment-method .radio-check  {
display: block;
position: absolute;
left: 18px;
top: calc(50% - 12px);
}

.payment-method .radio-check:before {
opacity: 0;
visibility: hidden;
} 

.payment-method .nav-item.active .radio-check:before {
opacity: 1;
visibility: visible;
}

.payment-method .nav-pills .nav-item img {
max-width: 100%;
width: auto;
}

.payment-method .nav-item {
margin-bottom: 15px;
}

#time-up .modal-body {
padding: 10px 30px 30px 30px;
}

.confirm_title h2 {
font-size: 22px;
}

.confirm_title h2 img {
display: none;
}

.ticket_collec_wrap {
padding: 15px;
}

.dkt-ccard {
display: none;
}

.mbl-ccard {
display: block;
}

.show-info.seats .total-sec .row,
.show-info.seats .mob-tic-info .row {
display: flex;
width: unset;
}

.mob-tic-info {
padding-left: 15px;
}

.promocodeTitle {
margin-bottom: 10px;
}

.ticket-bar {
height: auto;
}

.show-info.seats .mob-tic-info .row {
margin-left: -15px;
margin-right: -15px;
margin-bottom: 5px;
}

.search-main {
margin-bottom: 0;
}

.cart-sec .confDetails_sec .confDetails_title span {
color: #626262;
margin-top: 2px;
width: 100%;
display: inline-block;
}

.cart-sec .confDetails_sec .confDetails_title span img {
margin-right: 3px;
}

.payment-method .nav-pills .nav-item {
width: 100%;
}

.payment-method .nav-pills .nav-item.active .tag {
font-size: 16px;
}

.payment-method .nav-pills .nav-item.active .tag {
color: #343434;
}

.delivery-accordion .card-header a .price {
font: normal 14px "Rubik" !important;
}

.crossSellDesc {
margin-top: 10px;
display: block;
width: 100%;
height: auto;
}

.custom-checkbox {
line-height: 17px;
}

.addBtnCls {
padding: 0;
margin-top: 10px;
display: block;
}

.confirm_page .confirm_msg {
margin-left: 0;
}

.confirm_msg p:first-child {
padding: 10px 0;
}

.bookRefBox > div {
padding-left: 10px !important;
padding-right: 0 !important;
width: 50% !important;
}

.etik_list {
padding-left: 0;
padding-bottom: 10px;
}

.tidTime {
max-width: 100%;
flex: 0 0 100%;
border-right: none;
padding: 0 15px;
display: flex;
}

.tidTime .blk {
width: 50%;
float: left;
margin-top: 10px;
border-bottom: 1px dashed #c4c4c4;
margin-bottom: 0 !important;
padding-bottom: 12px;
}

.tidTime br {
display: none;
}

.tidTime .blk:first-child {
padding-right: 5px;
}

.tidTime .blk:last-child {
padding-left: 5px;
} 

.tidTime + div {
max-width: 100%;
flex: 0 0 100%;
margin-bottom: 20px;
}

.barcode {
width: 58%;
margin: 20px auto 0;
}

.barcode img {
margin-top: 0;
}

.etick_details {
display: inline-block;
}

.etick_details .etick_info4, .etick_details .etick_info5 {
width: 25%;
}

.etick_details > div {
width: 50%;
margin-bottom: 15px;
height: auto;
padding-right: 10px;
}

}




/* Responsive Style Ends */