.bannRgt{ background-color:#F0F9FF;}
.vert_middle{ vertical-align: middle;}
.breadCrumb{ color:#848687;font-family:'Rubik', san-serif; display: inline; vertical-align: middle; font-size:14px;}
.dateCnt{ position:relative; vertical-align: middle;}
.seatMapOut{ position:relative; vertical-align: middle;}
.prc_cnt{ font-weight:500;color:#343434 !important;position:relative; vertical-align: middle;}
.locationTxt{ position:relative; color: #0097FE; vertical-align: middle;}
.viewAllVenues{ position:relative; vertical-align: middle;}
.hide{ display: none;}
.confirm_page .cart-sec .confirm_top_sec{ display: none;}
.confirm_page .show-info.seats.float-wrap.sticky{ display: none;}
.confirm_msg{ margin-left: 48px;}
.confirm_page .footer-top.mt-5{ margin-top: 0px !important;}
.check-out-btn:hover{ color: #fff;}
#time-up .timer-encl{ text-align: center;}
#time-up .timer-encl .countdown-container{ float: inherit; display: inline-block; }


.svg-container {
    display: inline-block;
    position: relative;
    vertical-align: middle;

}
.svg-container2 {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 100%;
    padding-bottom: 100%;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 470px;
    z-index: 1;
}
.blockStyle {
    fill: gray;
    /* stroke: black;
    stroke-width: 1px; */
}
.poly{ fill: #feec66; opacity: 0.5; }
.poly:hover{ opacity:1; stroke: black;stroke-width: 1px;}

.stage_blockStyle{ position: relative;}

#seat_tooltip, #seat_tooltip2 {
    background: #d6eeff;
    color: #343434;
    border-radius: 5px;
    padding: 5px 8px;
    position: absolute;
    display: none;
    right: 155px;
    z-index: 10;
    font: 400 12px "Rubik";
    transition: all .15s linear;
    -moz-transition: all .15s linear;
    -webkit-transition: all .15s linear;
    line-height: 19px;
}
#seat_tooltip:before, #seat_tooltip2::before {
    content: "";
    background: #d6eeff;
    position: absolute;
    left: -5px;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    z-index: -9;
    top: calc(50% - 8px);
}

.stage_svg_container{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 100%;
}
.stage_svg_content{
    display: inline-block;
} 

.stage_svg_content circle{ stroke-width: 1px; }
/* .seats_outter{ position: relative; width: 100%; height: auto;}
.seats_outter img{ width: 100%;} */
.seat-allocation-image{display: inline-block; position: relative; width: 100%; height: 580px; transition: transform .2s;transform-origin:0px 0px 0px;}
.seat-img{ cursor: pointer;}

#seat_tooltip2 {
    right: inherit;
    display: none;
    min-width: 100px;
    font-size: 14px;
    line-height: 18px;
    padding: 5px 15px 5px 8px;
}
.aval_seats{ cursor: pointer; transition: transform .2s;}
.seat_type_cls{ margin-top: 12px;}
.seat_type_cls:focus{ box-shadow: 0; border: 0px;}
#select_seat_type .btn-primary{ padding: 8px 26px; font-size: 15px; float: left;}
#select_seat_type .btn-gray{ padding: 8px 26px; font-size: 15px; border-radius: 0px; float: right;}
.aval_seats.actv_cls { fill: #fcca02 !important; }
.grey_disable{ background: #afafaf !important; cursor: not-allowed !important;}
.trash-icon{ cursor: pointer;}

.polyline_styl{ fill:none;stroke:black;stroke-width:3}

.confirm_page .trash-icon, .payment_page .trash-icon{ display: none !important;}

.map_view{ position: relative; width: 100px; cursor: pointer; z-index: 10;}

/* .grand-circle{ background: url("../images/grand_circle.svg") no-repeat; height: 47px; }
.filter-encl:hover .grand-circle, .filter-encl.actv_cls .grand-circle{ background: url("../images/grand_circle_bg.svg") no-repeat; }

.dress-circle{ background: url("../images/dress_circle.svg") no-repeat; height: 49px; margin-top: 0px !important; }
.filter-encl:hover .dress-circle, .filter-encl.actv_cls .dress-circle{ background: url("../images/dress_circle_bg.svg") no-repeat; }

.stall-circle{ background: url("../images/stall.svg") no-repeat; height: 36px; }
.filter-encl:hover .stall-circle, .filter-encl.actv_cls .stall-circle{ background: url("../images/stall_bg.svg") no-repeat; } */

.filter-encl.actv_cls .filter-content-txt p:first-child{ color: #0098ff;}

/* .stage_loader{ position: absolute; width: 100%; height: 100%; background:rgba(255,255,255,0.7) url('../images/loading.gif') center center no-repeat; z-index: 1; opacity: 1; min-height: 50px;} */

/* .stage_loader{ position: absolute; width: 100%; height: 100%; background:linear-gradient(to bottom, rgba(238, 239, 242,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%); z-index: 1; height: 400px; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebffffff', endColorstr='#ffffff',GradientType=0 );} */

.stage_loader{ position: absolute;  width: 96%;  height: 82%;  background: rgba(0,0,0,0.2); z-index: 1;}

.loaderImg{ width: 100%; height: 100%; background:url('../images/loading.gif') center center no-repeat;}

.right-seat-map{ min-height: 300px; position: relative; padding-right:0px; padding-left: 32px;}
.zoom-btn{ bottom: 120px;}
.zoom-btn .btn{ background: #f2f2f2; clear:both; float: right; clear: both; margin-right: 10px; }
.zoom-btn .btn:hover{ background: #d6d4d4;}

.filter-category-txt p{ margin-top:3px;}
.aval_seats.disabled{ opacity: 0.3; pointer-events: none;}
.filter-category-txt{ cursor: pointer;}
.filter-category-txt.inactv_cls, .all-sec.inactv_cls{ opacity: 0.3;}

.stage_view{ 
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 100%;
    padding-bottom: 100%;
    height: 630px;
    border: 1px solid #000;
}
.stage_view .poly{ opacity:1; stroke: black;stroke-width: 1px;}
.stage_inner{ display: inline-block;  position: absolute; top: 0; left: 0; z-index: 1; height: 100%;}

.error_msg {
    float: left;
    width: 100%;
    color: #c33333;
    font-size: 13px;
    line-height: 17px;
    padding-left: 0;
    margin-top: 1px;
    text-align: left;
    margin-bottom: 5px;
    text-align: left;
}
.login_err, .forget_err, .create_acc_err{ float: left;
    width: 100%;
    color: #c33333;
    font-size: 13px;
    line-height: 17px;
    padding-left: 0;
    text-align: left;
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: center;
}

.login_indicate{ 
    height: 9px;
    width: 9px;
    border: 1px solid #fff;
    background-color: #eb0000;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    bottom: -4px;
    right: 11px;
}
.login_indicate.green_clr{background-color: #45eb01;}
.loginAuthr{ position: relative;}

.loginAuthr .header-submenu::before {
    position: absolute;
    content: "";
    border-top: none;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 10px solid #fff;
    margin-left: -34px;
}

.loginAuthr .header-submenu {
    position: absolute;
    background-color: #fff;
    width: auto;
    padding: 14px 12px;
    min-width: 170px;
    transition: 0.5s opacity;
    opacity: 0;
    visibility: hidden;
    left: 50%;
    margin-left: 35px;
    bottom: auto;
    top: 50px;
    z-index: 3;
    transform: translateX(-50%);
    transition: top .5s;
    -webkit-transition: top .5s;
    -moz-transition: .5s top;
    -o-transition: .5s top;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.loginAuthr:hover .header-submenu {
    opacity: 1;
    visibility: visible;
    top: 25px;
}

.loginAuthr .header-submenu li {
    flex: 0 0 100%;
    width: 100%;
    transition: 0.3s background-color;
    margin-bottom: 4px;
    list-style: none;
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    padding: 4px 0px;
}

.loginAuthr .header-submenu li:hover {
    background-color: rgba(179, 209, 231, 0.17);
}

.loginAuthr .header-submenu li a {
    color: #343434;
    padding: 10px;
    padding: 5px 8px;
    width: 100%;
    transition: 0.3s color;
}
.loginAuthr .header-submenu li:hover a {
    color: #0098FF !important
}

.custom-btn.facebook-btn{ position: relative;}
.fb_btn{ opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%;}

.bg_cls1{ background-color: #0097FE; color: #eb0000}

.filter-level-inner{ border-right:1px solid #dedede; padding-left: 0px; margin-bottom: 20px;}
.seat-map{ background: #fff;}
.filter-level map area{ cursor: pointer;}

.filter-level img.filter_cls{ filter: grayscale(1);}

.filter-level .tooltip{ background-color:#ffffff; min-width: 171px; min-height: 150px; padding: 3px; font-family: 'Rubik', sans-serif;  display: none; z-index: 2;}
.filter-level .tooltip.active{ opacity: 1; display: block;}
.tooltip_sec_head{display: inline-block; width: 100%; background: #f1f1f1; min-height: 20px; font-weight: 700; font-size:11px; line-height: 15px; text-align: center; padding: 8px 10px 10px; color:#343434 }
.tooltip_sec_head span{ font-size: 13px; line-height: 17px; text-transform: uppercase;}
.tooltip_sec_cnt{ float: left; width: 100%; background: #f1f1f1; margin-top: 2px; padding: 10px; font-size: 11px; color:#343434; line-height: 22px; position: relative;}
.tooltip_text{ float: left; margin-left: 17px;  width:90%; margin-top: -3px;}
.avail_seats{ float: left; width:100%; text-align: center; margin-top: 20px; font-size: 13px; line-height: 17px;}
.seatClr{ width:12px; height: 12px; border-radius: 50%; position: absolute; left:8px; top:12px;}

.date-item{ border-radius: 0px;}
.breadcrumb { display: none;}
.show-info{ margin-top: 0;  background: #f0f9ff;  padding-top: 15px;}
.ticket-quantity{ margin-top: 0px; background: #fff;}
.show-info.float-wrap.sticky{ background: #fff;  }

.prcTable{
    font-family: 'Montserrat';
    font-size: 16px;
    color: #0098ff;
    text-decoration: rgb(0, 152, 255);
    line-height: 20px;
    text-align: center;
    width: 210px;
    height: 38px;
    border-radius: 20px;
    border: 1px solid #d1d1d1;
    padding-top: 8px;
    margin: 15px auto 0px;
    font-weight: 700;
    display: inherit;
}
.prcTable:hover{ background: #0098ff; color: #fff;}

.flat_btn .btn-primary{ min-width: 180px; padding: 9px 26px;}
.tic-list-item{ height: 103px; display: inline-block; width:100%; border: 1px solid #ebebeb;}
.tic-list-item.active{ border: 1px solid #0098ff;}
.tic-left{ border-right: 1px dashed #d9d8d8; padding:33px 50px; font-size: 14px; height: 100%; line-height: 18px; }
.tic-left span{ font-weight: 700; font-size: 16px; line-height: 20px;}
.tic-right.button-container button{ border-radius: 0px;}
.delivery-method .nav-pills .nav-item{ border-radius: 0px;}

.ticket-quantity-upgraded {
    background-size: cover;
    min-height: 450px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 50px;
    position: relative;
}
.in-active {
    color: #fff;
    background: #bdbdbd;
    pointer-events: none;
}

#view_price_table .modal-dialog{ max-width: 820px; height: 368px; font-family: 'Rubik', sans-serif;}
#view_price_table .modal-header .close{ color: #0098ff; font-size: 42px; padding: 0px; margin: 0 0 0 auto; font-family: initial; font-weight: normal; margin-top: -13px;}
#view_price_table .modal-content{ padding: 24px 35px 20px 35px; }
#view_price_table .modal-header{ border-bottom: 1px solid #e3e3e3;}
#view_price_table .modal-header h2{ font-weight: 500; font-size: 18px; line-height: 22px; margin-top:10px; margin-bottom: 13px;} 
#view_price_table .modal-body{ padding: 0px;}

.prcTblOut{ float: left; width: 100%;}
.prcTblCnt{  margin-top: 20px;}
.catRow{ width: 130px; display:table-cell; font-size:13px; line-height:20px; color: #626262;}
.catHead{ margin-bottom: 16px; line-height: 17px; display: inline-block; width:100%;}
.catClr{ width: 12px; height:12px; border-radius: 50%; display: inline-block; }
.catPrice{ height: 33px; padding: 7px 5px 0; width:100%; display: inline-block;}

.typeRow{ display: table-row; }
.contactTxt{  font-size: 12px; line-height: 16px; color: #949494; display: inline-block; width:100%; text-align:center; margin-top: 10px;}
.catRow.type_cls{ text-align: left; width: 150px;}
.catRow.type_cls .catPrice{ font-size: 16px; }
.typeRow:nth-child(odd) .catPrice, .prcTblCnt tr:nth-child(odd){
    background: #f9f9f9;
}
.prcTblCnt th{ font-size:13px; line-height:20px; color: #626262;  width: 130px; font-weight: normal; }
.prcTblCnt tr{ font-size:13px; line-height:20px; color: #626262;  padding: 7px 5px 0; white-space: nowrap;}
.priceClass{ font-size: 16px; text-align: left; white-space:normal;}

.seat_identify{ float: left;  text-align: center; width: 100%; margin-top: 13px;}
.seat_identify img{ width: auto; margin: 0px; display: inline-block;}

.seats_outter{ position: relative; float: left; width: 100%; height:400px; overflow: auto; scrollbar-width: none; -ms-overflow-style: none; text-align: center; }
.seats_outter::-webkit-scrollbar{ display: none; margin-top: 58px; }
@-moz-document url-prefix() { /* Disable scrollbar Firefox */
    .seats_outter{
        scrollbar-width: none;
    }
}

.seatTbl{ display: table-cell; vertical-align: middle; width: 100%; height:380px; text-align: center;}
.checkOutBtn{ float: right; margin-top: 56px !important;}

.right-seat-map img{ width: auto;max-width: 100%;}
.seat_img_hidden{ position: absolute; opacity: 0; left: 0px; top:0px;}
.prcClsHead{ width: 150px;}
.defaultStageImg{ float: left; width: 100%; text-align: center; text-align: center; margin-top: 100px;}
.defaultStageImg img{max-width: 100%; opacity: 0.7;}

.seat-img{ opacity: 0;}
.seat-img.selected{ opacity: 1;}

.mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background-color: rgba(0,0,0,.4) !important;}
.seat-img.unavail{ opacity: 1;}

.navig_scroll{ width: 55px; height: 55px; background-color: #f2f2f2; position: relative; border-radius: 50%; margin-bottom: 12px;float: right; clear: both; }
.navig_scroll img{ max-width: inherit; cursor: pointer;}
.top_nav_scl{ transform: rotate(-180deg); margin-top: 5px !important;}
.left_nav_scl{ transform: rotate(90deg); margin:6px 0px 6px 4px !important; float: left;}
.right_nav_scl{ transform: rotate(-90deg); margin:6px 4px 6px 0px !important; float: right;}

.countdown-container{ margin-bottom: 13px;}
.cart-sec .countdown-container {
    margin-bottom: 5px;
    margin-top: 10px;
}
.float-wrap .countdown-container {
    margin-top: -4px;
    margin-bottom: 13px;
}
.show-info .ft-1{
    color: #626262;
    font-size: 13px;
    line-height: 15px;
}
.show-info .ft-1 img{ margin-right: 3px;}
#view_all_timings{ font-size: 14px; line-height: 18px; padding: 8px 26px;}
#view_all_timings img{ transform: rotate(90deg); margin-left: 8px !important;}
#view_all_timings.less img{transform: rotate(-90deg); }

.dateTimeTitle .btn-primary{ background: #dadada }
.dateTimeTitle .btn-primary.actv { background:#0098ff}

.list_view_row{ display: inline-block; padding-left: 15px; padding-right: 15px;  width: 100%; margin-top: 20px; }
.list_view_row .date-item{ width:135px; float: left; padding: 34px 15px;}
.event_time_list{ background: #f9f9f9; min-height: 153px; float: right; width: 85.9%;position: relative; padding: 21px 32px 4px 32px; font-family: 'Rubik', sans-serif;;}
.time_left_arw { position: absolute; left: -16px; top: 25px; transform: rotate(-90deg);}
.event_time_list ul{ padding:0px; list-style: none; margin:0px;}
.event_time_list ul li{ float: left; width:100%; margin-bottom: 17px; position: relative; -webkit-user-select: none;    -moz-user-select: none;  -ms-user-select: none;  user-select: none; cursor: pointer;}
.event_time_list ul li.soldout{ pointer-events: none;}
.event_text{ float: right; font-size:16px; color: #343434; line-height: 20px; width: 95%;}
.aval_text{ font-size:13px; color: #343434; font-family: 'Montserrat'; font-weight: 500;}
.soldout .event_text, .soldout .aval_text{ color: #c7c7c7; }
.event_opt{ float: left; margin-top: 2px; width:20px; height:20px; border-radius: 50%; background: #fff; border:1px solid #919191;}
.soldout .event_opt{ opacity: 0.5;}
.event_time_list ul li input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    display: none;
}
.event_time_list ul li .event_opt:after {
   top: 6px;
   left: 4px;
   width: 12px;
   height: 12px;
   border-radius: 50%;
   background: #0098ff;
   content: "";
   position: absolute;
   display: none;
}
.event_time_list ul li input:checked ~ .event_opt:after, .event_time_list ul li.actv > .event_opt:after {
    display: block;
}
.date-item.no_bdr{ border:0px; opacity: 0 !important;}
.avail_seats img{ width:auto; float: none; display: inline-block;}
.avail_seats{ text-align:center;}

.cart-qty-minus.in-active{ background: none; border:1px solid #d1d1d1 !important;}
.cart-qty-minus.in-active img{ opacity: 0.3;}

.cart-qty-plus.in-active{ background: none; border:1px solid #d1d1d1 !important;}
.cart-qty-plus.in-active img{ opacity: 0.3;}

.view-detail.d-md-block .btn.arrow span{display: inline-block;}
.view-detail.d-md-block .btn.arrow span.hide{display: none;}
.edit_cls{ font-size:13px; color:#0098ff; margin-left: 10px;}

.stickyTotal{ float: right; margin-top: -12px;}
.stickyTotal h5{ font-size: 15px;}
.d-md-block.sticky .media-body{ margin-top: -15px; }
/* .d-md-block.sticky .container{ width:1170px;} */

.seatMapCnt{ overflow: hidden; display: inline-block;}

.logoutPage{ text-align: center; margin: 30px 0; min-height: 400px;}
.signoutText{ display: inline-block; width: 100%; color: #D89D61; font-weight: bold; margin-bottom: 15px;}
.errMsg{ color:#E83356; float: left; width: 100%;}
.promotionInput.error_bdr{ border: 1px solid #E83356;}
.pointer_event{ pointer-events: none;}
.packList .list_view_row .date-item{ height: 144px; padding: 47px 15px;}
.packList .date{ font-size: 23px; line-height: 27px;} 
.packList .event_time_list{ min-height: 145px;}

.event_info{ float: right; width: 92%; font-size: 13px; margin-top: 5px; color: #727272; line-height: 20px;}
.event_info li{ margin-bottom: 0px !important; margin-left: -12px;}
.event_info li::before { content: "\2022";color: #9f9c9c;font-weight: bold;display: inline-block;width: 13px;margin-left: 0;
padding: 0;font-size: 16px;}
.packList .event_opt{ margin-top: 0px;}
.packList .event_opt::after{ top: 4px !important;}
.packList .downArw{ position: absolute; right: 10px; top: 0px; -webkit-transform:rotate(90deg); transform: rotate(90deg); -moz-transform:rotate(90deg); background: url('../images/chevron-right-blue.svg') center right no-repeat; width: 19px; height: 19px;}
.packList .downArw[aria-expanded="true"]{ -webkit-transform:rotate(-90deg); transform: rotate(-90deg); -moz-transform:rotate(-90deg); background: url('../images/chevron-right-dark.svg') center right no-repeat;}
.participent{ font-size: 16px; font-family: 'Rubik', sans-serif; font-weight: 600; margin-left: 10px;}
.partImg{ vertical-align: baseline;}
.shopRegRow .form-control{border-radius: 0px;}
.delivery-method{ margin-top: 40px;}
.shopRegRow.row{ margin-top: 30px; padding-bottom:30px; border-bottom: 1px solid #e3e3e3; margin-left: 0px; margin-right: 0px;}
.no_pad{ padding: 0px;}
.add_terms_cond .participent{ margin-left: 0px; margin-bottom: 0px; }
.shopRegRow.row.no_bdr{ border:0px}
.add_terms_cond{ margin-top: 20px; font-family: 'Rubik', sans-serif;}
.add_req_text{ font-size: 14px; color: #626262;}
.add_text{ color: #626262; font-size: 14px; font-family: 'Rubik', sans-serif;}
.add_req_text span{ color: #ed0000;}
.packListCnt{ margin-top:70px;}
.show_list_item{ border:1px solid #b5b5b5; margin-top:22px; padding: 22px; display: table-cell; float: left;}
.show_item_text{ font-size: 18px; margin-top: 0px; color:#343434; line-height: 24px; font-family: 'Montserrat'; font-weight: 600; display: inline-block; vertical-align: middle;}
.show_list_item .check-out-btn{ min-width: 140px; }
.show_list_item .check-out-btn:hover{ background-color: #0589e1;}
.prd_grp_title{ font-weight: 500; font-family: 'Rubik', sans-serif; margin-top: 20px; font-size: 19px;}
.packShowCnt{ margin-top: 50px;}
.checkOutBtn.package{ margin-top: 0px !important;} 
.checkOutBtn.package .check-out-btn:hover{background-color: #0589e1; }
.prdDateTilte{ font-size: 16px; line-height: 17px; font-family: 'Rubik', sans-serif; font-weight: 600; }
.prdDateSect{ margin-top: 30px; padding: 0px 30px;}

.limited_seats_cls .status{ color: #f2b119; }
.soldout_cls span{ color: #c7c7c7 !important; }
.single_seat_cls .status{ color: #ea3333}
.owl-item.soldout_cls{ pointer-events: none;}
.owl-item.soldout_cls .date-item{ border: 0px; }
.ticket-detail-sec .unit-pr{ min-width: 80px; padding-right: 20px;}
.seats.float-wrap .ticket-detail-sec .seat-no{ padding-right: 20px;}

.pack_show_list_data #showTimeID{ margin-bottom: 24px;}

.packageQtySection{ float: left; width: 100%; border-top: 1px solid #e3e3e3; margin-top: 34px;}
.addPackBtn{ margin-top: 30px;}
.slctQtyTxt{ font-size: 16px; color: #343434;font-family: 'Rubik', sans-serif; font-weight: 600; margin-top: 36px; width: 74%; }
.packageQtySection .tic-right{ float: left; width: auto; margin-top: 36px;}

.packCart .ticket-detail-sec{ display: inline-block; width: 96%; border-top: 1px solid #f0f0f0; margin-bottom: 10px; }
.cart_item_txt{ display: block; font-size: 15px; line-height: 17px; color: #343434; }
.cart_item_date{ color: #9e9e9e; font-size: 13px; line-height:17px; } 
.pack_cart_item{ float: left; min-width: 210px; margin-right: 15px; margin-top: 12px;}

.cartItemDetails{ float: left; width: 100%; margin-top: 16px;font-family: 'Rubik', sans-serif; }
.cartItemDate{ float: left; margin-right: 32px; min-width: 98px; color: #727272; font-size: 13px; line-height: 17px;}
.cartItemDate span{ color: #343434; font-size: 15px; line-height: 17px;}
.cart_act .edit_cls{ font-size: 15px; line-height: 17px; }
.cart_act{ margin-top: 6px; margin-right: 20px;}
.cart_act .trash-icon{ margin-left: 10px; }
.cart_act .trash-icon img{ margin-top: -7px;}

.ticket-detail-sec.sticky_cart{ float: left; width: 96%; border-top: 1px solid #f0f0f0; margin-bottom: 10px; }
.ticket-detail-sec.sticky_cart .cart_item_txt{ font-size: 12px; line-height: 14px;  }
.ticket-detail-sec.sticky_cart .cart_item_date{ font-size: 12px; line-height: 14px; color: #9e9e9e; }

#validationModal.modal-dialog{ max-width: 700px; }
#validationModal.modal-dialog .modal-header .close{ margin: -1rem -1rem 1rem auto;}
.valid_text li span{ color: #e21212; font-style: italic; margin-left: 17px;font-weight: bold;}
.valid_text { border-bottom: 1px solid #ccc; padding-bottom: 30px; padding-left: 18px; }

.seat-map.packageMap{ padding-top: 15px; margin-top: 64px; border-top: 1px solid #e3e3e3;}
#confirm-type {margin-bottom: 20px;}

.shopcartEdit{ padding-right: 0px !important;}
.upsellAddcart{ text-align: right;}
.upCellTbl{  border: 1px solid #EDEDED; display: inline-block; padding: 5px 0px 10px; width: 100%;}
.upCellTbl tr td{ vertical-align: middle;}

.confDetails_sec.npad_lft{ padding-left: 25px; }
.confDetails_footer.npad_lft{ padding-left: 25px; }

.w81{ width: 81%;}
.w19{ width: 19%;}
.w15{ width: 15%;}

.terms_cond_cls{ max-width: 700px; }
.terms_cond_cls .modal-body{ height: 325px; overflow: auto;}
.terms_cond_cls .modal-content{ padding-bottom: 15px; font-family: 'Rubik', sans-serif;}
.terms_cond_cls .modal-body p{ font-size: 14px; color: #343434; border-bottom:1px solid #e3e3e3; padding-bottom: 18px; margin-bottom: 16px;}
.terms_cond_cls .modal-body p b{ font-size: 15px;font-weight: 600; margin-bottom: 5px; display: block;}
.terms_cond_cls .btn.btn-primary{ float: right; min-width: 218px;}
.terms_cond_cls .btn.btn-primary:hover{ content: 'Checkout'; }
.terms_cond_cls .hoverName{ display: none;}
.terms_cond_cls .btn.btn-primary:hover span{ display: none;}
.terms_cond_cls .btn.btn-primary:hover span.hoverName{ display: block;}
.edit_cls.upsell{ margin-left: 25px;}
.upSellTable{ width: 100%;}
.upCellTbl tr td span{ float: none !important; display: inline-block !important;}
.stickyTitle .mt-0.ft{ width: auto; }
.stickyTitle .ft-1{ width: auto;  }
.stickyTitle .stickyTotal{ margin-top: 0px;}
.shopcartEdit .edit_cls{ vertical-align: inherit;}
.shopcartEdit .trash-icon{ top:-5px !important;}
.check-out-sec.sticky{ justify-content: inherit; }
.calendar-grid .rbc-toolbar .rbc-btn-group{ display: none;}
.calendar-grid .rbc-today{ background: none;}
.calendar-grid .rbc-date-cell.rbc-now{ font-weight: normal; }
.upSellBtn{ cursor: pointer;}
.have-voucher{ padding-left: 5%;}
.confDetails_footer .pull-left{ padding-left: 5%;}

.confDetails_body.reserved_frnd{ background: #f7f7f7; display: inline-block !important; width: 100%;}
.reserved_frnd .confDetails_sec{ background: none; padding-top: 20px; border-bottom: 1px dashed #bddefc; padding-bottom: 0px; margin-left: 2%; margin-right: 2%; padding-left: 130px;}
.reservedTtl{ font-size: 14px; line-height: 17px; font-family: 'Rubik'; color: #a12105; margin-bottom: 20px; font-weight: 600;}
.cart-sec .confDetails_body.reserved_frnd .media-img{ top: 58px; }
.resSeatLink{ font-size: 12px; line-height: 17px; font-family: 'Rubik'; font-weight: 500;}
.confDetails_sec.no_bdr{ border: 0px;}

.calendar-grid{ padding-left: 0px; margin-top: 25px; }

.fc-toolbar-title{ color:#343434; font-size: 18px !important; line-height: 22px; font-family: 'Montserrat'; font-weight: 600; text-transform: uppercase;}
.fc-theme-standard .fc-scrollgrid{ border:0px !important;}
.fc-theme-standard td, .fc-theme-standard th{ border: 0px !important;}
.fc-theme-standard th{ border-bottom: 1px solid #ebebeb !important;}
.fc-col-header-cell a{ color: #999999 !important; font-family: 'Rubik'; text-transform: uppercase; font-size: 13px; line-height: 20px; font-weight: 400; padding-bottom: 6px !important; }
.fc-daygrid-day-top{ text-align: center; width: 100%; display: inline-block !important; font-size: 30px; color: #c7c7c7 !important; opacity: 1 !important; height: auto; font-family: 'Rubik';} 
.availDates .fc-daygrid-day-top{ color: #343434 !important;} 
.fc-liquid-hack .fc-daygrid-day-frame{ height: 77px; margin: 5px 12px;}
.availDates .fc-daygrid-day-frame{ border:1px solid #c7c7c7; position: relative !important;}
.fc-h-event .fc-event-title{ text-align: center; width: 100%; font-size: 13px; line-height: 17px;font-family: 'Montserrat'; font-weight: 500 !important; color: #c7c7c7;}
.available_cls .fc-h-event .fc-event-title{color: #07b3f0;}
.coming_cls .fc-h-event .fc-event-title{color: #07b3f0;}
.single_cls .fc-h-event .fc-event-title{color: #ef5858;}
.selling_cls .fc-h-event .fc-event-title{color: #f2b119;}
.reconf_cls .fc-h-event .fc-event-title{color: #07b3f0;}
.cancel_cls .fc-h-event .fc-event-title{color: #ef5858;}
.postpone_cls .fc-h-event .fc-event-title{color: #c7c7c7;}
.sold_cls .fc-h-event .fc-event-title{color: #c7c7c7;}

.fc-h-event{ background: none !important; border:0px !important}

.availDates .fc-daygrid-day-events .fc-daygrid-event-harness{ visibility: visible !important;}
.fc-daygrid-day.availDates{ cursor: pointer;}
.availDates .fc-daygrid-day-frame:hover, .active_cls .fc-daygrid-day-frame{ border-color: #0098ff;  }
.availDates .fc-daygrid-day-frame::after{content: ""; background: #0098ff; height: 4px; width: 100%; bottom: 0; left: 0; position: absolute; opacity: 0; visibility: hidden; z-index: 99; transition: all .13s linear;-moz-transition: all .13s linear;-webkit-transition: all .13s linear; }
.availDates .fc-daygrid-day-frame:hover::after, .active_cls .fc-daygrid-day-frame::after{ opacity: 1; visibility: visible;}
/* .fc-daygrid-day.fc-day.fc-day-other{ visibility: hidden;} */
.fc-daygrid-day.fc-day-disabled{background: transparent !important;}

.modal-body{ height: 400px; overflow-y: auto; overflow-x: hidden;}

/* ============  media styles ============= */
@media only screen and (max-width: 1199px) {

.event_time_list {
width: calc(100% - 160px);
}

.slctQtyTxt {
width: 68%;
}

.show_item_text {
width: 75%;
}

.addBtnCls {
padding-right: 0;
text-align: right;
max-width: 25%;
display: inline-block;
}

}


@media only screen and (min-width: 768px) {
    .ds_hide{ display: none !important;}
}

@media only screen and (max-width: 991px) {
    .event_time_list {
        padding-right: 20px;
        padding-left: 20px;
    }
    .event_text {
        width: 92%;
    }
    .prdDateSect {
        padding: 0;
    }
    .prcTable {
        width: 100%;
    }
    .show_list_item .check-out-btn {
        min-width: auto;
    }
}


@media only screen and (max-width: 767px) {
    .confDetails_title_img {
		width: 52px;
	}
	.confDetails_title_img img {
        width: 100%;
	}
	.confDetails_sec .confDetail_mbl .confDetails_title {
		margin-left: 16px;
    }
    .svg-content{
        height: 58px;
    }
    .mb_hide{ display:none !important; }
    #mobile-date-slide .date-item .date{ width: auto; margin-left: 0px; margin-top: 0px; margin-right: 3px;}
    #mobile-date-slide .date-item{ display: inline-block;}
    .date-item span{ width:auto; float: left; margin-left: 8px; margin-top: 13px; }
    .date-item span.month{ font-weight: 600;}
    #mobile-date-slide .date-item .status{ text-align: center; margin-top: 13px;}
    #chosen-time.date-item span{ margin-top: 0px; }
    #view_all_timings{ margin-top: 20px;}

    .seat-map{ float: left; margin-top: 45px; width: 100%;}
    .seat-selection{ padding: 0px 15px; }
    .filter-level-inner, .right-seat-map{ padding: 0;}
    .filter-level-inner{ border-bottom:1px solid #e0e0e0; border-right: 0px; padding-bottom: 40px; overflow: hidden;}
    .filter-level{ padding: 5px 15px 20px 15px; }
    .right-seat-map{ margin-top: 20px;}
    .defaultStageImg{ margin-top: 0px;}
    .seat_identify img{ width: 87%;}
    .checkOutBtn{ float: left; width: 100%; text-align: center !important; margin-top: 22px !important;}
    .zoom-btn{ bottom: 138px; right: -7px}
    .seatTbl{ vertical-align: top; height: 300px;}
    .seats_outter{ margin-top: 30px; height: 300px;}
    .seat_img_hidden{ max-width: inherit !important;}
    .stage_loader{ width:100%;}
    .navig_scroll{ width: 50px; height: 50px;}
    .top_nav_scl{ margin-top: 2px !important;}
    .left_nav_scl{ margin-left: 2px !important;}
    .right_nav_scl{ margin-right: 2px !important; }

    /* .ticket-quantity-upgraded{ padding: 0px;} */
    .seat-map .ticket-quantity-upgraded h4{ margin-left: 0px; }
    .tic-list-item{ height: auto;}
    .ticket-bar{ position: relative;}
    .tic-left{ padding: 20px 15px;}
    #view_price_table .modal-content{ padding: 16px 20px 20px 20px;}
    .right-seat-map .tooltip{ position: relative;  display: inline-block; margin-left: 3%; width: 94%; margin-top: 10px; opacity: 1; z-index: 0;}
    .right-seat-map .tooltip.active{ opacity:1;}
    .right-seat-map  .tooltip_sec_head span{ font-size:11px; }
    .right-seat-map .tooltip_sec_cnt{ text-align: center; line-height: 18px;}
    .right-seat-map .tooltip .seatClr{ position: relative; display: inline-block; margin-right: 3px; left:inherit; top:2px; }
    .right-seat-map .tooltip .avail_seats{ margin-top: 5px; }

    .btn.btn-primary.round-btn.list_view_btn{ margin-right: 10px;}
    .list_view_row{ padding-left: 0px; padding-right: 0px;}
    .list_view_row .date-item{ width: 23%; text-align: center; padding: 6px 12px 4px 12px;}
    .packList .list_view_row .date-item{width: 26%;padding: 20px 5px;height: auto;}
    .list_view_row{ width: initial;}
    .list_view_row .date-item span{ margin: 0px; float: initial; font-size: 11px; line-height: 20px;}
    .list_view_row .date-item .date{ font-size: 16px; line-height: 21px; }
    .list_view_row .date-item span.status{ display:none}
    .list_view_row .date-item span.month{ font-weight: 400;}
    .event_time_list{ width:72.9%;}
    .packList .event_time_list {width: 69%;}
    .event_text{ width: 85%;}
    .packList .downArw {right: 0;}
    .packList .event_text{padding-right: 25px;}
    .show_list_item .check-out-btn {width: 100%;right: 0;}
    .cartItemDate {width: 50%;margin-right: 0;min-width: unset;padding-right: 10px;margin-bottom: 10px;}
    .cart_act {margin-top: 0;margin-right: -10px;}
    .show_item_text{width: 100%;}
    .addBtnCls{max-width: 100%;}
    .packageQtySection .addPackBtn{width: 100%;}

    .stickyTotal{ display: none !important;}
    .d-md-block{ display: none !important;}
    .show-info.seats.float-wrap .total-sec.mob{ display: block !important; }
    .col-sm-6{ width: 50%;}
    .show-info.seats .total-sec .check-out-sec h6{ width:100%;}
    .stickyTitle .mt-0.ft{ margin-bottom: 0px !important;}
    .confDetails_sec .confDetail_mbl .confDetails_title.full_wdth{ width: 100%; margin-left: 0px;}
    .ticket-quantity-upgraded{clear:both;}
    .tt-align {
        width: 100%;
        display: inline-block;
    }
    .tt-align b {
        float: left;
        max-width: calc(100% - 20px);
    }
    .show-info.float-wrap.sticky{display:block !important}
    .show-info.seats.float-wrap .view-detail {
        display: block !important;
    }

    .fc-daygrid-day-top{ font-size: 20px;}
    .fc-liquid-hack .fc-daygrid-day-frame{ height: 43px;}
    .fc-liquid-hack .fc-daygrid-day-frame{ margin: 5px;}

    .fc-h-event .fc-event-title-container{ text-align: center;}
    .fc-h-event .fc-event-title{ text-indent: -9999px; width: 5px; height: 5px; border-radius: 50%;}
    .available_cls .fc-h-event .fc-event-title{background-color: #07b3f0;}
    .coming_cls .fc-h-event .fc-event-title{background-color: #07b3f0;}
    .single_cls .fc-h-event .fc-event-title{background-color: #ef5858;}
    .selling_cls .fc-h-event .fc-event-title{background-color: #f2b119;}
    .reconf_cls .fc-h-event .fc-event-title{background-color: #07b3f0;}
    .cancel_cls .fc-h-event .fc-event-title{background-color: #ef5858;}
    .postpone_cls .fc-h-event .fc-event-title{background-color: #c7c7c7;}
    .sold_cls .fc-h-event .fc-event-title{background-color: #c7c7c7;}
    .availDates .fc-daygrid-day-frame::after{ height: 2px;}

    .date-legend{ margin-top: 30px;}
}

@media only screen and (max-width: 579px) {
    .show-info .ft-1 .mr-3{ display: block; margin-bottom: 3px;}
}
