/* common class */
.pad-0{
    padding-right: 50px;
    padding-left: 50px;
}

/* section-1 */

.seatDesiable{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: none;
}

#seatDesiableToggle{
    display: none;
}

.modal-footer{
    border-top: unset !important;
}

.modal-title{
    height: 22px;
    font-family: Rubik;
    font-size: 18px;
    color: #343434;
    text-decoration: none solid rgb(52, 52, 52);
    letter-spacing: -0.12px;
}

.trash-icon {
    z-index: 1;
}

.promocodeContainer{
    padding-top: 3%;
    display: inline-block;
    width: 100%;
}

.promocodeTitle{
    width: auto;
    height: 17px;
    font-family: Rubik;
    font-size: 15px;
    color: #343434;
    text-decoration: none solid rgb(52, 52, 52);
    line-height: 17px;
    font-weight: 500;
    padding-right: 3%;
    float: left;
    margin-top: 6px;
}

.promotionBtn{
    width: 91px;
    height: 30px;
    background-color: #0098ff;
    background-size: cover;
    font-family: Montserrat;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
    border-radius: 0;
    border: none;
    float: left;
    cursor: pointer;
}

.promotionInput{
    width: 168px;
    height: 30px;
    padding: 0px 10px;
    border: 1px solid #c8c8c8;  
    background-color: #ffffff;
    background-size: cover;
    font-family: Rubik;
    font-size: 13px;
    color: #9c9c9c;
    text-decoration: none solid rgb(156, 156, 156);
    /* padding-top: 0px;
    margin-top: -1px; */
    float: left;
}

.qtyNote{
    width: 191px;
    height: 20px;
    font-family: Rubik;
    font-size: 14px;
    color: #343434;
    text-decoration: none solid rgb(52, 52, 52);
}

.resSeatAlert{
    width: 220px;
    height: 17px;
    font-family: Rubik;
    font-size: 14px;
    color: #ff0000;
    text-decoration: none solid rgb(255, 0, 0);
    line-height: 17px;
}

.crossSelImg {
    width: 100%;
}

.crossSellDesc{
    width: 643px;
    height: 66px;
    font-family: Rubik;
    font-size: 16px;
    color: #343434;
    text-decoration: none solid rgb(52, 52, 52);
    line-height: 22px;
}

.crossSellVoucherName{
/* Grab Redemption V... */
    font-family: Rubik;
    font-size: 16px;
    color: #343434;
    text-decoration: none solid rgb(52, 52, 52);
    line-height: 22px;
    font-weight: 500;
}

.CrossSellAmt{
/* SGD 5.00 */
    font-family: Rubik;
    font-size: 14px;
    color: #0098ff;
    text-decoration: none solid rgb(0, 152, 255);
    line-height: 22px;
}

.crossSellBtn{
    width: 129px;
    height: 32px;
    background-color: #0098ff;
    background-size: cover;
    margin-top: 2%;
    border-radius: 0;
    border: none;
    cursor: pointer;
}

.removeCrossSellBtn{
    width: 150px;
    height: 32px;
    background-color: #b5b5b5;
    background-size: cover;
    margin-top: 2%;
    border-radius: 0;
    border: none;
}

.CrossBtnTxt{
    width: 100%;
    float: left;
    font-family: Rubik;
    font-size: 13px;
    color: #ffffff;
    text-decoration: none solid rgb(255, 255, 255);
    line-height: 17px;
}

.crossSellContainer{
    margin-top: 4%;
}

.addOnsTitle{
    width: auto;
    height: 17px;
    font-family: "Rubik";
    font-size: 14px !important;
    color: #0098ff !important;
    text-decoration: none solid rgb(0, 152, 255);
    line-height: 17px;
}

.addOnsImg{
    fill: #0098ff;
    margin-top: -4px;
}

/* Upsell Starts here */

.upSellItemName{
    width: auto;
    height: 17px;
    font-family: Rubik;
    font-size: 14px !important;
    color: #343434 !important;
    text-decoration: none solid rgb(52, 52, 52);
    line-height: 17px;
    font-weight: 500;
    float: none;
}

.upSellDescription{
    /* Get a backstage t... */
    font-family: Rubik;
    font-size: 13px !important;
    color: #343434 !important;
    text-decoration: none solid rgb(52, 52, 52);
    line-height: 16px;
}

.upSellMore{
    /* More */
    font-family: Rubik;
    font-size: 13px !important;
    color: #0098ff !important;
    text-decoration: none solid rgb(0, 152, 255);
    line-height: 16px;
}

.upSellDropDown{
    width: 118px;
    height: 32px;
    padding: 0px 8px;
    border: 1px solid #c8c8c8;
    font-family: Rubik;
    font-size: 13px !important;
    color: #343434 !important;
    text-decoration: none solid rgb(52, 52, 52);
}

.upSellBtn{
    width: 129px;
    height: 32px;
    background-color: #0098ff;
    background-size: cover;
    border-radius: 0;
    border: none;
}

.upSellBtnTxt{
    width: 69px;
    height: 17px;
    font-family: Rubik;
    font-size: 13px !important;
    color: #ffffff !important;
    text-decoration: none solid rgb(255, 255, 255);
    line-height: 17px;
}

.upSellTable{
    border-collapse: separate;
    border-spacing: 0 6px;
}
/* Upsell Ends here */

.promotionInput:focus{
    outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

td.reservdForFrndTxt{
    width: 125px;
    height: 17px;
    font-family: Rubik;
    font-size: 12px;
    color: #3aae00;
    text-decoration: none solid rgb(58, 174, 0);
    line-height: 17px;
    padding:0px !important;
}


/* three button */
.three-btn{
    color: #0098ff;
    background-color: #ffffff;
    border-color: #dddd;
    border-radius: 0px;
    /* padding: 8px; */

    font-size: 12px;
    font-weight: 700;
    font-family: Montserrat;
    padding: 5px;
}


/* section-2 */

.line{
    border:none;
    
}
.pos-1{
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f0f9ff;
   border: none;

}

.btn-link {
    font-weight: 400;
    color: #000000;
    background-color: transparent;
    float: right;
}

.fa-chevron-down{
    font-size: 14px;
    color: #000000;
}

.p1{
     
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: #b7b0af;
    text-decoration: none solid rgb(183, 176, 175);
    line-height: 26px;
}
.pos-3{
    background-color: #f0f9ff;
    border: none;
}

.pos-img{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f0f9ff;
    background-clip: border-box;
    /* border: 1px solid rgba(0,0,0,.125); */
    border-radius: .25rem;
border:none;
}



/* ///Similar picks/// */


.cl-1{
    color: #fff;
    background-color: #8BC34A;
    /* border-color: #007bff; */
    border-radius: 0px;
    border-color: none;
    border: none;
}



.pos-4{
    
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: none;
                border-radius: 0px;
        width: 250px;
        margin: 25px;
    }

    .card-title{
        font-size: 15px;

    }

    .blog .carousel-indicators {
        left: 0;
        top: auto;
        bottom: -40px;
    
    }
    
    /* The colour of the indicators */
    .blog .carousel-indicators li {
        background: #a3a3a3;
        border-radius: 50%;
        width: 8px;
        height: 8px;
    }
    
    .blog .carousel-indicators .active {
    background: #707070;
    }



    

    /* Quantity-page */
    .custom-breadcrumb{
        list-style:none;
        overflow: hidden;
    }
    
    .custom-breadcrumb li {
        text-decoration: none; 
        padding: 10px 0 10px 50px;
        position: relative; 
        display: block;
        float: left;
    }
    
    .custom-breadcrumb li:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        left: 100%;
        z-index: 2;
    }
    
    .custom-breadcrumb li:before {
        content: " "; 
      display: block; 
      width: 0; 
      height: 0;
      border-top: 50px solid transparent;       
      border-bottom: 50px solid transparent;
      border-left: 30px solid white;
      position: absolute;
      top: 50%;
      margin-top: -50px; 
      margin-left: 1px;
      left: 100%;
      z-index: 1;
    }
    
    .blue-crumb{
        background: #ffffff;
    color: #3498db;
    width: 220px;
    }
    .blue-crumb:after{
        border-left:30px solid #2980b9;
    }
    
    .gray-crumb{
        background-color: #bdc3c7;
    }
    .gray-crumb:after{
        border-left: 30px solid #bdc3c7;
    }

    .light-blue-crumb:before{
        border-left:30px solid #ffffff;
        
    }
    
    .light-blue-crumb:after{
        border-left:30px solid #ffffff;
        box-shadow: 5px 0px 5px rgba(0,0,0,0.04);
    }
    .light-blue-crumb{
        background: #ffffff;
        color: #0098ff;
        font-size: 13px;
        width: 227px;
    }
    
    .faded-crumb:after{
        border-left:30px solid #ecf0f1;
        box-shadow: 5px 0px 5px rgba(0,0,0,0.04);
    }
    
    .faded-crumb{
        background: #f0f0f0;
    color: #bdbdbd;
    font-size: 13px;
    width: 220px;
    }



    .ft{
        color: #343434;
        font-size: 16px;
        font-weight: 900;
    }


.ft-1{
    width: 824px;
    height: 36px;
    font-family: Rubik;
    font-size: 13px;
    color: #343434;
    text-decoration: none solid rgb(52, 52, 52);
    line-height: 18px;
}



.bar-1{
    width: 1100px;
    height: 97px;
    margin: 30px;
}
   
    .bg-banner{

        width: 100%;
        border-radius: calc(.25rem - 1px);
        height: 700px;
    }
    
    .Child{
        position: absolute;
        top: 187px;
        left: 200px;
        font-size: 20px;
          font-size: 16px;
        color: #616363;
        font-family: 'Rubik', sans-serif;;
        
    }

.nu{

    position: absolute;
    float: right;
    right: 30px;
    top: 183px;
    font-size: 20px;
    font-weight: 500;
}

    .Child-1 {
        position: absolute;
        top:322px;
        left: 200px;
        font-size: 20px;
    
        font-size: 20px;
        font-weight: 500;
        font-size: 16px;
        color: #616363;
        font-family: 'Rubik', sans-serif;;
    }

.nu-1{

    position: absolute;
    float: right;
    right: 30px;
    top: 315px;
    font-size: 20px;
    font-weight: 500;

}
.Child-2 {
    position: absolute;
    top: 441px;
    left: 200px;
    font-size: 20px;
  
    font-size: 20px;
    font-weight: 500;
    font-size: 16px;
    color: #616363;
    font-family: 'Rubik', sans-serif;;
}
.nu-2{
    position: absolute;
    float: right;
    right: 30px;
    top: 437px;
    font-size: 20px;
    font-weight: 500;
}


.Child-3 {
    position: absolute;
    /* top: 488px; */
    left: 200px;
    font-size: 20px;
    font-weight: 500;
    bottom: 105px;
    font-size: 20px;
 
    font-size: 16px;
    color: #616363;
    font-family: 'Rubik', sans-serif;;
}

.nu-3{

    position: absolute;
    float: right;
    right: 30px;
    /* top: 462px; */
    font-size: 20px;
    font-weight: 500;
    bottom: 101px;
}


.fa-info-circle{
color:#0098ff;

}

.pr-1{
   width: 272px;
   height: 40px;
    float: right;
    color: #ffffff;
    background-color: #bdbdbd;
    border-color: #005cbf;
border: none;
border-radius: 0px;
font-family: Montserrat;

padding: 10px;
margin: 3px;

}

.pr-1:hover
{
    border:none;
}

.minus-sec{

    color: #c1c1c1;
    font-size: 18px;
}

.form-in{

    border: none;
    width: 4%;
}

.cart-qty-minus {
    border: none;
    background-color: white;

    
}



.cart-qty-plus {
    border: none;
    background-color: white;

}

/* 
/Date page css/ */
.faded-crumb.completed-crumb{
    background: #fff;
}
.date-map-sec{
    font-family: 'Rubik', sans-serif;
}
.calendar-sec{
    position: relative;
    padding: 30px 0;
}
.calendar-sec:before{
    content: "";
    background: url(../images/banner_aladdin.jpg) no-repeat;
    min-height: 274px;
    background-position: 22% 6%;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    
}
.Broadway-Musical{
    padding-bottom: 25px;
}
.date-map-sec a{ 
    font-size: 15px;
}
.date-map-sec a .flaticon-calendar{
    padding-right: 3px;
}
.date-map-sec .flaticon-calendar:before, .flaticon-ticket:before{
    color: #000;
    font-size: 14px;
}
.select-a-date h4{
    position: relative;
}
.select-a-date h4:before{
    content: "";
    position: absolute;
    width: 37px;
    height: 3px;
    background-color: #07b3f0;
    top: -11px;
}
.calendar{
    left: 0 !important;
}

 @media only screen and (min-width: 1201px) and (max-width: 1290px){
    /* Date page css*/
    .custom-breadcrumb .faded-crumb{
        width: 205px;
    }
}


/* ///carousel-Date-picker-page// */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


.slide-pos{

    height: 144px;
    width: 144px;
   border-color: #b5b5b5;
   border-radius: 8px;

}

:hover.card.slide-pos{

    border-bottom: solid #2196f3;
    border-bottom-color:#2196f3;
    border-color: #2196f3;
}

.c1{
font-family: 'Rubik'sans-serif;
font-size: 13px;
color: #999999;
text-decoration: none solid rgb(153, 153, 153);

text-align: center;
margin-bottom: 10px;
}

.c2{

    width: 104px;
    height: 42px;
    font-family: 'Rubik'sans-serif;
    font-size: 40px;
    color: #343434;
    text-decoration: none solid rgb(52, 52, 52);
     text-align: center;
}
.c3{
 
    font-family: 'Rubik'sans-serif;
font-size: 13px;
color: #343434;
text-decoration: none solid rgb(52, 52, 52);
text-align: center;
}
.c4{
font-family: 'Montserrat' sans-serif;
font-size: 13px;
color: #0098ff;
text-decoration: none solid rgb(0, 152, 255);
line-height: 20px;
text-align: center;
}
.Selling-Fast{
    font-family: 'Montserrat' sans-serif;
    font-size: 13px;
    color: #ffb100;
    line-height: 20px;
    text-align: center;
}

.intial-stage-c2{

    color:#b5b5b5;
    width: 104px;
    height: 42px;
    font-family: 'Rubik'sans-serif;
    font-size: 40px;
      text-decoration: none solid rgb(52, 52, 52);
     text-align: center;
}

.intial-stage-c3{
    font-family: 'Rubik'sans-serif;
text-decoration: none solid rgb(52, 52, 52);
text-align: center;
    color:#b5b5b5;
    font-size: 13px;
}

.intial-stage-c4{
    font-family: 'Montserrat' sans-serif;
    font-size: 13px;
    text-decoration: none solid rgb(0, 152, 255);
    line-height: 20px;
    text-align: center;
    color:#b5b5b5;
}


.confirmation_sec_wbg {
	background: #fff;
}
.confirmation_sec_bbg {
	background: #f7fcff;
	padding: 60px 25px;
}
.confirm_top_sec {
	margin-bottom: 50px;
}
.confirm_title {
	font-family: "Montserrat";
	font-size: 25px;
	color: #343434;
	text-decoration: none solid rgb(52, 52, 52);
}
.confirm_title i {
	font-size: 32px;
	margin-right: 10px;
}
.confirm_title p {
	font-size: 14px;
	color: #343434;
}
.confirm_msg {
	font-family: Rubik;
	font-size: 14px;
	color: #343434;
	text-decoration: none solid rgb(52, 52, 52);
	line-height: 21px;
	font-family: Rubik;
}
.confirm_msg p {
	margin: 0;
}
.confirm_msg p:first-child {
	padding: 25px 0;
}
.confirm_msg b {
	color: #a12105;
}
.transac_detail {
	width: 215px;
	height: 83px;
	background-color: #a12105;
	background-size: cover;
	text-align: right;
	padding: 22px;
	float: right;
}
.transac_detail p {
	margin: 0;
	font-family: Rubik;
	font-size: 13px;
	color: #ffffff;
	text-decoration: none solid rgb(255, 255, 255);
	line-height: 18px;
	text-align: right;
}
.transac_detail b {
	margin: 0;
	font-family: Montserrat;
	font-size: 16px;
	color: #ffffff;
	text-decoration: none solid rgb(255, 255, 255);
	line-height: 18px;
	letter-spacing: 1px;
	text-align: right;
}
.w80 {
	width: 80%;
}
.w20 {
	width: 20%;
}
.blk {
	display: block;
}
.confDetails_sec {
	background: #f0f9ff;
	padding: 25px 25px 25px 150px;
	font-family: Rubik;
}
.confDetails_sec .confDetails_title {
	font-size: 16px;
	color: #343434;
	line-height: 17px;
}
.confDetails_sec .confDetails_title b {
	display: block;
}
.confDetails_sec .confDetails_title span {
	font-size: 13px;
	color: #0098ff;
	line-height: 17px;
	margin-right: 35px;
}
.confDetails_sec .confDetails_title i {
	font-size: 11px;
}
.confDetails_sec .confDetails_title span i {
	margin-right: 3px;
}
.confDetail_tbl p {
	font-size: 15px;
	color: #343434;
	margin: 0;
}
.confDetail_tbl span {
	font-size: 12px;
	color: #8c939b;
}
.confDetail_tbl b {
	font-size: 15px;
	color: #343434;
	margin-top: 15px;
}
.ticket_devide {
	width: 100%;
	height: 33px;
	position: relative;
	background: #f0f9ff;
}
.ticket_devide .dot_line {
	width: 97%;
	margin: 0 auto;
	height: 1px;
	background: transparent;
	border-bottom: 1px dashed #bddefc;
	position: relative;
	top: 16px;
	z-index: 99;
	bottom: 0;
}
.ticket_devide .left_circle {
	width: 33px;
	height: 33px;
	border-radius: 30px;
	background: #fff;
	position: absolute;
	left: -17px;
	z-index: 99;
}
.ticket_devide .right_circle {
	width: 33px;
	height: 33px;
	border-radius: 30px;
	background: #fff;
	right: -17px;
	position: absolute;
	z-index: 99;
}
.table td,
.table th {
	border-top: 0;
	padding: .5em .5em 0 0;
}
.table.tbl_2 td,
.table.tbl_2 th {
	padding: 0;
}
.confDetails_footer {
	height: 48px;
	background-color: #092438;
	display: block;
	color: #fff;
	padding: 10px 10px 10px 150px;
	font-family: Rubik;
}
.bdrB_dash {
	border-bottom: 1px dashed #092438 !important;
}
.bdrT_dash {
	border-top: 1px dashed #092438 !important;
}
.sgd_total {
	text-align: right;
}
.sgd_total b {
	margin-right: 24px;
}
/*---- booking ref ----*/

.bookRefBox {
	width: 100%;
	height: 113px;
	border: 1px solid #092438;
	background-color: #092438;
	padding: 40px 0;
	display: block;
	color: #acc5e3;
	font-size: 12px;
	margin-top: 25px;
}
.bookRefBox .clm {
	width: 20%;
	float: left;
}
.bookRefBox .clm2 {
	width: 23%;
	float: left;
}
.bookRefBox .clm3 {
	width: 15%;
	float: left;
}
.bookRefBox .clm:first-child {
	padding-left: 5%;
	width: 24%;
}
.bookRefBox .clm:last-child {
	width: 16%;
}
.bookRefBox .clm h6,
.clm2 h6,
.clm3 h6 {
	color: #fff;
	font-size: 14px;
}
/* end booking ref  */

.ticket_collec_wrap {
	background: #fff;
	border: 1px solid #ccc;
	margin-top: 50px;
	padding: 40px;
}
.ticket_collec {
	background: #fff;
	border: 1px solid #ccc;
	display: block;
	width: 100%;
	margin-top: 20px;
}
.title_small b {
	color: #0098ff;
	margin-bottom: 15px;
}
.tDown,
.tPrint {
	width: 40px;
	height: 40px;
	border-radius: 30px;
	border: 1px solid #ccc;
	float: left;
	margin-right: 10px;
	display: block;
	text-align: center;
	vertical-align: middle;
}
.tDown i,
.tPrint i {
	font-size: 20px;
	padding-top: 8px;
}
.br_r {
	border-right: 1px solid #eee;
}
.br_l {
	border-left: 1px solid #ccc;
}
.br_t {
	border-top: 1px solid #ccc;
}
.br_b {
	border-bottom: 1px solid #eee;
}
.br_dsh {
	border-right: 1px dashed #ccc;
}
.etik_list {
	padding: 40px;
	list-style: none;
	padding-right: 0;
	margin-right: -15px;
}
.etik_title {
	padding: 0px 0 20px;
	width: 100%;
	display: block;
	border-bottom: 1px solid #eee;
}
.etik_title h3 {
	font-family: Rubik;
	font-size: 20px;
	color: #343434;
	line-height: 17px;
	margin: 0;
	font-weight: bold;
}
.etik_title small {
	font-family: Rubik;
	font-size: 13px;
	color: #343434;
}
.etick_details {
	padding-top: 20px;
	font-family: Rubik;
}
.etick_details p {
	font-size: 15px;
	color: #343434;
	margin: 0;
	display: block;
}
.etick_details span,
.ticket_collec span {
	font-size: 12px;
	color: #9e9e9e;
}
.etick_info1 {
	display: block;
	width: 110px;
	height: 50px;
	float: left;
}
.etick_info2 {
	display: block;
	width: 85px;
	height: 50px;
	float: left;
}
.etick_info3 {
	display: block;
	width: 105px;
	height: 50px;
	float: left;
}
.etick_info4 {
	display: block;
	width: 80px;
	height: 50px;
	float: left;
}
.etick_info5 {
	display: block;
	width: 80px;
	height: 50px;
	float: left;
}
.tid,
.tTime {
	display: block;
	padding-left: 15px;
	padding-top: 30px;
}
.tidTime {
	display: block;
	border-right: 1px dashed #999;
	padding-top: 56px;
	padding-left: 36px;
}
.tidTime span {
	display: block;
}
.inblock_btn {
	display: inline-block;
	padding: 8px 35px;
	background: #0098ff;
	color: #fff;
	font-family: Montserrat;
	font-size: 18px;
	text-align: center;
}
.notes {
	font-size: 12px;
	font-family: Rubik;
	color: #999;
}
.notes b {
	color: #333;
}
.romen_list {
	list-style: lower-roman;
	padding-left: 25px;
	font-size: 12px;
}
.w50 {
	width: 49.5%;
}
.barcode {
	width: 138px;
	display: block;
}
.barcode img {
	max-width: 100%;
	width: 100%;
	margin-top: 56px;
}
/*--- End style  ---*/

@media only screen and (min-width: 768px) {
	.d-none {
		display: inline !important;
	}
	.confDetails_footer_mbl,
	.confDetail_mbl {
		display: none;
	}
	.lg-none {
		display: none;
	}
}
@media only screen and (max-width: 767px) {
	.w80 {
		width: 100%;
	}
	.w20 {
		width: 100%;
	}
	.transac_detail {
		width: 100%;
		text-align: center;
		margin: 15px 0;
	}
	.transac_detail p,
	.transac_detail b {
		text-align: center;
	}
	h2 {
		font-size: 1.5rem;
	}
	.confDetails_sec {
		background: #f0f9ff;
		padding: 15px;
		font-family: Rubik;
	}
	.confDetails_title_img {
		width: 38px;
		height: 67px;
		float: left;
	}
	.confDetails_title_img img {
		max-height: 67px;
		border-radius:10px;
	}
	.confDetails_sec .confDetail_mbl .confDetails_title {
		float: left;
		display: block;
		 margin-left: 24px;
    	width: 75%;
	}
	.holder {
		padding: 25px 0;
	}
	.inner_info,
	.inner_info2 {
		font-size: 13px;
		font-family: Rubik;
	}
	.inner_info span p {
		display: inline;
		color: #343434;
		margin-right: 10px;
	}
	.inner_info span {
		color: #8c939b;
	}
	.inner_info2 {
		margin-bottom: 15px;
	}
	.inner_info2 span {
		color: #343434;
	}
	.confirmation_sec_bbg {
		padding: 30px 8px;
	}
	.ticket_collec_wrap {
		padding: 15px;
	}
	.ticket_devide .left_circle {
		left: -33px;
	}
	.ticket_devide .right_circle {
		right: -33px;
	}
	.confDetails_footer_mbl {
		height: 48px;
		background-color: #092438;
		display: block;
		color: #fff;
		padding: 15px;
		font-family: Rubik;
	}
	.lg-none {
		display: block;
	}
	.bookRefBox {
		width: 100%;
		height: auto;
		padding: 20px 0;
	}
	.bookRefBox .clm:first-child,
	.bookRefBox .clm3 {
		padding-left: 5%;
		width: 47%;
	}
	.bookRefBox .clm2 {
		width: 48%;
		float: left;
	}
	.bookRefBox .clm:last-child {
		width: 95%;
		padding-left: 5%;
	}
	.etik_list {
		padding: 10px;
		list-style: none;
		padding-top: 20px;
		margin-right: 0px;
		border-bottom: 1px solid #eee;
	}
	.tidTime {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 24px;
	}
	.barcode {
		width: 138px;
		display: block;
	}
	.barcode img {
		max-width: 100%;
		width: 100%;
		margin-top: 30px;
	}
	.inblock_btn.voh_btn {
		display: block;
		float: none;
	}
	.ticket_collec_wrap .mb-5 {
		margin-bottom: 20px;
	}
	.confirm_top_sec {
		margin-bottom: 20px;
	}
}